[2022-03-16 21:01] kir0ul commented on #2700
Right,  so now I have the same version as in CI but I'm still confused why I get 2 errors on a freshly pulled `master` branch, but I don't get any error in CI:
[code]
[code]

[2022-03-16 21:18] balisujohn commented on #2700
One thing to note is that https://github.com/jakebailey/pyright-action is being specifically parameterized to check python 3.7 in the CI which may not be the default rules for pyright, and may have different rules than when checking other python versions.

[2022-03-16 23:20] jkterry1 commented on #2700
Could you please create a PR to bump things and fix this?

[2022-03-16 23:21] jkterry1 commented on #2699
Wasn't there something else pertaining to how arguments are being passed around that we can remove?

[2022-03-16 23:26] jkterry1 commented on #2510
My preferred semantic would be for done=False and truncated=True to not be allowed. If an environment is truncated this is obviously a _kind_ of done, and no information is lost via this that I'm aware of, and this would make retaining handling compatibility significantly easier.

[2022-03-17 02:58] XuehaiPan commented on #2510
@jkterry1 I think the semantic `done` means different for me.

Do you mean:

- `done` (the sampling should be ended): if `True`, stop further `step()` call, whatever the next observation is valid or not.

- `truncated` (the sampling is ended due to time limit): if `True`, stop further `step()` call due to time limit, the next observation _**should**_ be valid (and `done=True`).

[code]

This needs

[2022-03-17 08:29] araffin commented on #2564
The auto-reset feature is probably the most confusing concept of `VecEnv` and generates quite some issues despite an explicit warning in the doc:
- https://github.com/hill-a/stable-baselines/issues/1083
- https://github.com/DLR-RM/stable-baselines3/issues/719
- https://github.com/DLR-RM/stable-baselines3/issues/582
- https://github.com/DLR-RM/stable-baselines3/issues/460
- https://github.com/sail-

[2022-03-17 09:23] younik commented on #2699
Are you referring to the workaround to make `.render()` still supported before Gym 1.0? I am working on it right now, so if there will be something special to do also on that I will add

[2022-03-17 10:42] masterdezign commented on #2381
@michaelfeil You should probably see this https://github.com/openai/gym/pull/2516

[2022-03-17 11:57] michaelfeil commented on #2381
Sorry, my question's formulation was not very precise.

Since `gym.GoalEnv` is inherited from `gym.Env` and simply enforces a certain structure, would it not have been an option to e.g. leave a symbolic link with a decapitation warning, advising to inherit from `gym.Env` instead of `gym.GoalEnv` ?

[2022-03-17 12:04] masterdezign commented on #2381
As far as I have seen, they suggest avoiding `gym.GoalEnv` in favor of `gym.Env`.

[2022-03-17 12:05] masterdezign commented on #2381
See comments here https://github.com/DLR-RM/stable-baselines3/pull/780/commits/ee712998d01b6584c2dd7f75e816a525e32dbae0

[2022-03-17 14:08] a-mystic opened #2701 "[Question] render issue on mac"
import pygame
pygame.init()
Surface = pygame.display.set_mode((600,600))
FPSCLOCK = pygame.time.Clock()
pygame.display.set_caption("RL")

The env.render() window was not visible on my mac before adding this code to the front of the code below.

import gym
env = gym.make('CartPole-v1')
for i_episode in range(20):
    observation = env.reset()
    for t in range(100):
        env.render()
        ac

[2022-03-17 19:45] Maritimo opened #2702 "Render windows not closing in some environments with pygame"
## Bug description:
'toy_text/Blackjack-v1' and 'toy_text/FrozenLake' do not close the render window when calling env.close()

## Possible solution:
Add a `close(self)` method to the environments:
[code]

[2022-03-17 20:36] balisujohn commented on #2564
I think that's a compelling cases for making autoreset opt-in, so I'm inclined to agree

[2022-03-17 21:38] pseudo-rnd-thoughts commented on #2702
I wasn't able to replicate this issue with the following code
[code]

For me, the windows close fine even without .close()
I know, the solution you are talking about is implemented by box2d/car_racing.py so we could replicate that for these two environments

Could you provide some code that causes an issue on your system? I might be OS dependant, Im on ubuntu

[2022-03-17 23:39] Maritimo commented on #2702
**Thanks for your quick response.**

This is my code:
[code]
uname -a

lsb_release -a

python --version

pip show gym

pip show pygame

[2022-03-18 11:48] pseudo-rnd-thoughts commented on #2702
Thanks, this seems like a juypter notebook only issue but I found that your fixed works
I will create a PR soon with it and look for anything environments where this is also an issue

[2022-03-19 08:47] #2701 closed

[2022-03-19 08:55] thomashirtz commented on #2692
Oh ok! I used the code from the first message, I thought I could have just initialize low and high with empty array. But now it seems quite logical that it wouldn't work
Thank you!

[2022-03-19 09:26] thomashirtz commented on #2692
I tried to use the `Box(low=0, high=1, shape=())` however when I sample it I do get a value. My issue was in case where I needed to have a Box that is just a placeholder. e.g. how to represent the action space if I have one discrete action and three actions that are continuous and one of the hybrid action is empty (no parameter for this discrete action)

[2022-03-20 15:01] jkterry1 commented on #2696
Hey, I'm going to close this due to inactivity, please let us know if you need anymore help

[2022-03-20 15:01] #2696 closed

[2022-03-20 15:32] #2702 closed

[2022-03-21 10:16] ikamensh opened #2709 "[bug] pip install gym[atari] - insufficient dependencies"
**Describe the bug**
installing gym with atari extras doesn't install `pygame` but it's still imported (erroring out) during render() call of atari env.

**Code example**
`pip install gym[atari]`
`python -c "import gym; env=gym.make('Pong-v4'); env.render()"`

Output:
[code]

**System Info**
pip freeze

[2022-03-21 10:37] ikamensh commented on #2709
Reported it to ALE package https://github.com/openai/gym/issues/2709 , probably more relevant there.

[2022-03-21 10:37] #2709 closed

[2022-03-21 15:04] Borzyszkowski commented on #2664
Thank you for the answer. I will be waiting for the merge

[2022-03-21 19:15] Markus28 commented on #2503
Concerning your code snippet: It is my understanding that you should not interact with the environment after having called `close`. Thus, `env.close()` should be *outside* the first loop. Nonetheless, one might still want `close` to actually close the glfw window.

There is a strange line in `close`: https://github.com/openai/gym/blob/941e5bfea3abbea4a85a2fdc1752cdea28b36229/gym/envs/mujoco/mujoco

[2022-03-22 14:01] RedTachyon commented on #2692
What exact behavior do you expect from an empty Box? Should `Box.empty.sample()` raise an exception?

Overall it seems to me that since the empty box is just a placeholder that won't be used, you just need to make a convention and stick to it as for the interpretation of it. For example a valid box is on with a nontrivial shape, and if the shape is `()`, then that's the empty box, because no array

[2022-03-22 14:01] RedTachyon commented on #2692
@thomashirtz What exact behavior do you expect from an empty Box? Should `Box.empty.sample()` raise an exception?

Overall it seems to me that since the empty box is just a placeholder that won't be used, you just need to make a convention and stick to it as for the interpretation of it. For example a valid box is on with a nontrivial shape, and if the shape is `()`, then that's the empty box, bec

[2022-03-22 14:24] pseudo-rnd-thoughts commented on #2666
Linked to #2709 and https://github.com/mgbellemare/Arcade-Learning-Environment/issues/450
The reason is that pygame is not installed by default or with just atari options, which causes this issue when rendering.

`pip install pygame` should fix this

[2022-03-22 23:00] JesseFarebro commented on #2666
@pseudo-rnd-thoughts sadly, this won't fix the issue. It stems from Gym moving the `gym.envs.classic_control` package. You'll have to wait for a new release of `ale-py`, for the time being you can use the `render_mode` kwarg, e.g.,

[code]

[2022-03-23 08:49] ikamensh commented on #2700
Aside from fixing this at the moment, how about adding typing test to the latest supported python version in CI?

[2022-03-23 21:10] jkterry1 commented on #2564
I agree. The only question now is if we leave this as a wrapper or as an argument on env creation. An argument on env creation that defaults to false is my preference, and issues with this?

[2022-03-23 22:30] balisujohn commented on #2564
So if we make this as an argument on env creation, would this mean adding an optional "autoreset" argument to gym.make, then passing the rest of the arguments to the environment constructor and wrapping the environment with the autoreset wrapper?

[2022-03-24 02:44] zhengnx0906 opened #2715 "Space box scope issues"
I set"self.action_space = spaces.Box(low=np.zeros(self.n_actions), high=np.array([0.01,0.01,0.01,0.001,0.001,0.001,0.001,0.001,0.001,0.0001,0.0001,0.0001,0.8,0.8,0.8,0.8,0.8,0.8]),shape=(self.n_actions, ),dtype='float64')"
Finally, I print(action).There is something wrong with it，as shown below.
'''
actions: [-0.00118571 -0.00160194  0.0019625   0.00791211  0.00863184 -0.00543408
 -0.0030086  -0.0

[2022-03-24 06:06] arjun-kg commented on #2510
@XuehaiPan just a quick thought regarding your previous comment,

In this case can we not add `done and not truncated` as one variable to the replay buffer and no other changes would be necessary? This is in the situation where `done` means any kind of done.

[2022-03-24 08:13] XuehaiPan commented on #2510
@arjun-kg You'd better not do that. That makes `done` have different meanings in sampling and training.

[code]

which makes the code harder to understand and causes trouble in future maintenance.

------

The meaning of `truncated` is ambiguous, right?

For me, both semantic of `done` make sense:

1. indicator to stop the episode in sampling phase.
    - `done=True` -> no more `env.step()` call

[2022-03-24 14:16] cool-RR opened #2716 "Code sample on docs homepage is buggy"
I'm using Gym for the first time. I tried to run the code sample on https://www.gymlibrary.ml/:

[code]

It fails because `policy` isn't defined. This is embarrassing because it's the very first code sample that a new user would see.

Error message: `name 'policy' is not defined`

[2022-03-24 18:34] jkterry1 commented on #2716
This the policy function is psuedo-code for the policy function you'd have in learning code, it's not something that's natively included in Gym. In not sure how we could make this more explicit?

[2022-03-24 18:38] cool-RR commented on #2716
You could make it explicit by including a line saying "this is pseudo-code that doesn't really run". But it's silly. It's especially silly that it has an `import` statement in it, which is really not something you see in pseudo-code.

The best thing would be to have a piece of code that actually runs. The policy doesn't have to actually do RL, it can choose an action in random. It doesn't have to

[2022-03-24 18:47] jkterry1 commented on #2716
I mean it's all real code except the policy, which at least to me seems to clearly be referencing user provided code...? Adding extra logic to randomly sample actions in a basic API demostration doesn't seem like the best idea either

[2022-03-24 18:47] jkterry1 commented on #2716
@RedTachyon do you have any opinions on this?

[2022-03-24 18:48] jkterry1 commented on #2715
@pseudo-rnd-thoughts could you please take a look at this when you get a chance?

[2022-03-24 18:59] cool-RR commented on #2716
The question is how newbie-friendly you want to be. I like to err on the side of newbie-friendliness, but your interests may be different. If you do want to newbie-friendly, you should consider that the person reading your documentation doesn't know nearly as much as you do. You've seen this loop a million times. They may be seeing it for the first time.

If you're looking for ways to make it expl

[2022-03-24 21:46] RedTachyon commented on #2716
I'm mostly indifferent to this tbh, but it's good to keep it newbie-friendly, since we can assume that more advanced users will understand it either way.

How about adding this?
[code]

There's a commentary "hey, put your stuff here", and also the code would actually run.

A fancier option would be hard-coding a policy that actually does something nice. It might be tricky for LunarLander, but I'm

[2022-03-24 21:57] RedTachyon commented on #2715
I can't seem to replicate this using the last release or current `master`. Are you sure the error isn't in some other part of your code?

[2022-03-24 23:32] tristandeleu commented on #2680
The second option (seeding the `observation_space` and `action_space` of `VectorEnv`, instead of the individual environments) should be the preferred one, since a `VectorEnv` really is just like any environment. This could be made clearer in the documentation.

As @RedTachyon said, there is no easy way to fix this unfortunately. The only way I could see seeding being enforced is if we had a way to

[2022-03-24 23:43] RedTachyon commented on #2680
Should we include a disclaimer like "This method is meant to serve as a quick and dirty way of getting *a* valid action, and should not be used in situations where reproducibility is desirable" around `space.sample()`?

[2022-03-25 02:55] lu0909 opened #2718 "ImportError: cannot import name 'Monitor' from 'gym.wrappers'"
The error message is as follows:
Traceback (most recent call last):
  File "F:\xx\rsa-rl\code\rsa-rl-tutorials-master\rsa-rl-tutorials-master\examples\ksp-agent.py", line 8, in <module>
    from rsarl.envs import DeepRMSAEnv
  File "<frozen zipimport>", line 259, in load_module
  File "C:\Users\xx\.conda\envs\pytorch2\lib\site-packages\rsarl-1.0.0-py3.9.egg\rsarl\__init__.py", line 2, in <module>

[2022-03-25 03:52] balisujohn commented on #2718
It has been removed; please see https://github.com/openai/gym/issues/2674 for earlier discussion related to this.

[2022-03-25 05:47] zhengnx0906 commented on #2715
You are right,there is a problem in my code. I just use the "action_space.high" to set my action space.Thank you.

[2022-03-25 14:39] pseudo-rnd-thoughts commented on #2715
If this is solved, @zhengnx0906 could you close the issue, thanks

[2022-03-25 17:20] araffin commented on #2699
`close()` method is not used for rendering only, it is also used to release resources (for instance close processes).

https://github.com/openai/gym/blob/64a0eb01935f4643388f8dc61bc2e9b4af023fdc/gym/core.py#L149-L150

[2022-03-26 03:26] #2715 closed

[2022-03-27 10:29] koushik1234 commented on #2246
change python environment to <3.9

[2022-03-27 16:07] profversaggi commented on #2498
I'm still having the same issue as articulated above but with no solution:

Ubuntu Desktop 20
Tried:
atari_py 0.2.5, 0.2.6, and 0.2.9
Gym 0.18.0 and 0.19.0

ERROR:
ModuleNotFoundError: No module named 'gym.envs.atari'

[2022-03-28 20:34] sparisi commented on #2648
I was having the same issue, and reinstalling `ale-py` worked.

[code]
Hope this helps others.

[2022-03-30 03:14] whliu90 opened #2720 "[Question] OSError: [WinError 127], after 'import gym'"
### Question

About my installation:
`>> git clone https://github.com/openai/gym.git`
then changed my directory and installed gym:
`>> pip install -e .[all]`
It seems everything was OK.

However, it gives me WinError 127, when trying to import gym.
`>>> import gym`

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "c:\users\whliu\desktop\gym\gym\__init__.py", line 12

[2022-03-30 15:35] CheeGY opened #2721 "[Bug Report] Error in equations of motion for cart-pole system"
**Describe the bug**
The expression in the variable, temp = (force + self.polemass_length * theta_dot ** 2 * sintheta) / self.total_mass, is missing the mass of the pole in the second term in the numerator. This is in the step() method in the class CartPoleEnv(), which can be found in the file, cartpole.py.

**Code example**
There are no code errors. It is a misinterpretation of the equations gove

[2022-03-30 16:47] CheeGY commented on #2721
Sorry, I misread the code. There is no bug.

[2022-03-30 16:47] #2721 closed

[2022-03-31 20:14] jkterry1 commented on #2720
@pseudo-rnd-thoughts would you mind taking a quick look at this?

[2022-03-31 20:17] jkterry1 commented on #2246
Does this issue still exist with the newest versions of gym? With the changes to pygame it shouldn't. I just saw this thread now due to the new comment.

[2022-03-31 20:17] jkterry1 commented on #2564
yes, though the wrapper wouldn't be applied by default

[2022-03-31 21:01] jkterry1 commented on #2699
Right, we can't remove close for this reason, we just need to remove functionally when it specifically pertains to render.

[2022-03-31 21:06] RedTachyon commented on #2699
Yea, `close()` definitely isn't going away. Do we even need to change its behavior around rendering either? I think it should just depend on the environment, and if an environment maintains some display like pygame, or whatever else in a separate process, then that should absolutely be also cleaned up in `close()`

[2022-03-31 21:29] #2669 closed

[2022-03-31 21:29] jkterry1 commented on #2687
Hey, I'm closing this due to inactivity, please let us know if you have any additional questions :)

[2022-03-31 21:29] #2687 closed

[2022-03-31 21:29] jkterry1 commented on #2691
Closing in favor of #2712

[2022-03-31 21:29] #2691 closed

[2022-03-31 21:29] #2692 closed

[2022-03-31 21:30] jkterry1 commented on #2655
Hey does this issue still persist on the newest version of gym (0.23.1)?

[2022-03-31 22:48] RedTachyon opened #2722 "[Bug Report] New pre-commit setup seems to have broken black"
tl;dr black is broken in the CI and in local pre-commit, at best failing style checks, at worst preventing commits from being made

---

So while updating #2712 I decided to finally setup the pre-commit thingie from #2602, and it seems that `black` is crashing there, preventing any actual commits. Then I realized that the same error is actually present in the CI, so it's not just a case of a messe

[2022-03-31 22:51] RedTachyon commented on #2722
Pinging @kir0ul because maybe you have an idea what's going on

[2022-04-01 00:58] kir0ul commented on #2722
It seems to be a bug with Black that has been solved in version 22.3.0: https://github.com/psf/black/issues/2964#issuecomment-1080974737. Hopefully it should be solved by simply updating our version of Black in `.pre-commit-config.yaml` as below:

[code]

[2022-04-01 02:26] jrieffel opened #2723 "[Bug Report] Non-Integer smaller_cell_scale causes FrozenLake to crash on Render"
If you are submitting a bug report, please fill in the following details and use the tag [bug].

**Describe the bug**

A clear and concise description of what the bug is.

**Code example**

On a Mac running python3:

[code]

crashes with error:

 start_img = pygame.transform.scale(self.start_img, (small_cell_w, small_cell_h))
TypeError: integer argument expected, got float

**System Info**
Describ

[2022-04-01 13:01] #2722 closed

[2022-04-01 15:51] pseudo-rnd-thoughts commented on #2723
I have run this with the current main branch on Python 3.9 and pygame 2.1.2 and I can't replicate this issue

Are you running on the latest gym and pygame version?

[2022-04-02 07:33] thomashirtz commented on #2692
@RedTachyon I think that the expected behavior is to be able to obtain an empty array (or None) when the Box is sampled.

I think the main important point is that it would also be possible to access the attribute of a Box, because that would be quite annoying to not easily be able to loop through the tuple that contains all the `spaces` (In the first example, if I set `None `instead of the `break`

[2022-04-02 11:55] pseudo-rnd-thoughts commented on #2720
Im not able to replicate your issue as mujoco is deprecated on windows for the latest branch
However, looking at the error then it appears to be ale-py

But I think that the issue if with using editable in installing it
https://github.com/openai/gym/issues/2648#issuecomment-1054962800
See this issue that explains the problem with editable for ale-py

Does `pip install gym[atari]` fix it?

[2022-04-02 12:00] mtreca commented on #2655
@jkterry1 The update fixed the issue indeed. Thanks!

[2022-04-02 12:00] #2655 closed

[2022-04-02 12:48] whliu90 commented on #2720
Thanks for your advice. I just fix it by running `pip uninstall ale-py`, then everything is OK right now. I'm not sure if this would brings any bad influcence.

[2022-04-02 15:11] pseudo-rnd-thoughts commented on #2720
No worries, is this fixed? If so, could you close it

[2022-04-02 15:12] #2720 closed

[2022-04-02 15:15] whliu90 commented on #2720
Yes, it is fixed. Thanks again for your help.

[2022-04-02 16:19] pseudo-rnd-thoughts commented on #2680
Looking at creating a solution for this, the problem is in gym.vector.utils.spaces as when a batch space is created then the new space, a seed is not provided based on the original space.
However, the problem is this seed value needs to be an integer value that can't be reversed

Therefore, I have modified the space.__init__ seed parameter to allow a raw seeding.RandomNumberGenerator object
Using

[2022-04-02 18:10] sudislife opened #2726 "[Bug Report] The Arcade Learning Environment window gets stuck on not responding indefinetely"
**My pip list**
I'm using python 3.9.11 and have the following installed on the environment
ale-py                     0.7.4
argon2-cffi                21.3.0
argon2-cffi-bindings       21.2.0
asttokens                  2.0.5
attrs                      21.4.0
AutoROM                    0.4.2
AutoROM.accept-rom-license 0.4.2
backcall                   0.2.0
beautifulsoup4             4.10.0
bleach

[2022-04-02 22:31] pseudo-rnd-thoughts commented on #2726
Is the issue with gym.utils.play or Breakout because otherwise, I would post in https://github.com/mgbellemare/Arcade-Learning-Environment
The issue could be related to juypter notebooks rather than gym itself though looking at the code, it seems to use 'rgb_array' rather than 'human' or in the constructor
Could you specify what exactly the issue is

Next time, could you post the code instead of s

[2022-04-03 08:28] dorinesinenco commented on #2498
Same here

[2022-04-03 10:25] sudislife commented on #2726
No gym.utils.play works fine, simply running the following code gives me the blank Arcade Learning Environment Window.

[code]

As you can see the output window is stuck on not responding...
![image](https://user-images.githubusercontent.com/43610610/161422745-1ad99aab-7626-4c01-9eb2-75e6e35388fe.png)

However, I want something which looks like this in the Arcade Learning Environment Window...
(FY

[2022-04-03 16:36] pseudo-rnd-thoughts opened #2729 "[Proposal] gym.utils.play has no tests"
I ran coverage over our pytest to see what percentage of the code base is currently being tested
It seems that gym.utils.play is not being tested at all currently (every other files is from my check)
Is it possible to run tests on this as the tests are normally headless I thought?

[2022-04-04 15:13] balisujohn commented on #2729
Just a small thought is that even for headless systems you can create dummy x servers(assuming correct permissions) to serve as a sink for graphical output so it might still be possible to test headless.

[2022-04-05 07:28] stefanbschneider commented on #2497
Is there any way to enforce a more compact representation independent of the low/high values? Maybe even in versions 0.21 and before, where this MR was not yet merged?

[2022-04-05 13:59] dooliu opened #2730 "How to combine Panda3D and Openai Gym？"
I want to develop a 3D environment based on gym. Panda3D is great for developing 3D games.
After a few days of study, I developed a small game. However, I tried to combine with Gym but failed.
Panda3d rendering graphics need call the function app.run(), but after that, the game's control handle is not available. I can't execue other code after call run().
Anyone konw how to do?

[2022-04-05 17:05] Markus28 commented on #2726
You need to call
[code]
and then do some `step`s  to actually render something.

[2022-04-05 18:38] jschultz299 commented on #1603
This [post](https://stackoverflow.com/questions/63972113/big-sur-clang-invalid-version-error-due-to-macosx-deployment-target) solved it for me.

[2022-04-05 18:39] jschultz299 commented on #1989
This [post](https://stackoverflow.com/questions/63972113/big-sur-clang-invalid-version-error-due-to-macosx-deployment-target) solved it for me.

[2022-04-06 06:05] sudislife commented on #2726
Thank you so much.
I tried running it with random actions and it works perfectly...

[code]

[2022-04-06 06:05] #2726 closed

[2022-04-06 07:00] lyzsf opened #2732 "gym/spaces/box.py"
Hello,When i use the gym API called Box to create my RL space,it tell my there is a mistake in the code,i guess the problem arises because two different data types are being compared，but i not sure i can fix it correctly,please help me,thinks!

self.observation_space = spaces.Box(low, high)
  File "/home/y/anaconda3/envs/rl/lib/python3.8/site-packages/gym/spaces/box.py", line 68, in __init__
    s

[2022-04-06 08:23] #2732 closed

[2022-04-06 08:55] gianlucadecola commented on #2700
Which numpy version are you using?
The problem seems not to be directly related to python's version but to numpy's version. With numpy <= 1.21.5 pyright will fail. CI is using latest numpy which has more type annotation info (somewhat related: https://github.com/microsoft/pylance-release/issues/150#issuecomment-977200747).

The problem I'm seeing is that pyright is running with the flag --pythonve

[2022-04-06 14:49] ahoang512 opened #2733 "[Bug Report] module 'gym.envs.box2d' has no attribute 'LunarLander'"
If you are submitting a bug report, please fill in the following details and use the tag [bug].

**Describe the bug**
module 'gym.envs.box2d' has no attribute 'LunarLander'

**Code example**
env = gym.make("LunarLander-v2")

**System Info**
Working in a Jupyter notebook on a Mac

**Additional context**
Add any other context about the problem here.

### Checklist

- [ ] I have checked that there is

[2022-04-06 15:04] ahoang512 commented on #2733
duplicate of https://github.com/openai/gym/issues/1423

[2022-04-06 15:11] pseudo-rnd-thoughts commented on #2733
That is not a very helpful error message, we should look at improving that

[2022-04-06 16:27] kir0ul opened #2734 "[Proposal] Add test coverage"
### Proposal

It would be nice to add somewhere a report of the test coverage.

### Motivation

Currently there's no indication of the test coverage in Gym. This is a useful metric to get a sense of the code quality.

### Pitch

Not sure what's the best way to implement this yet. As a bare minimum I would see a badge in the README showing the percentage of test coverage. We could also publish the

[2022-04-06 18:36] trigaten opened #2736 "[Bug Report] Taxi env.render(mode='rgb_array') broken"
[code]
yields

[code]

@younik

[2022-04-06 19:07] younik commented on #2736
Oh thank you, I experienced this and I forgot to commit the fix

[2022-04-06 20:43] younik commented on #2730
Hello @dooliu,
Can you maybe share an example code?
I am not familiar with Panda3D; the engine is in charge of the interaction with the user, isn't it?
How do you plan to have a software agent interacting with it?

[2022-04-06 22:25] RedTachyon opened #2738 "[Proposal] Simplify `gym.make` implementation"
### Proposal

Rewrite the entire `registration.py` file so that the top-level `make` function actually does its thing, instead of calling `EnvRegistry` which calls `EnvSpec` through an `EnvSpecTree`

### Motivation

`gym.make` is crucial to the practical use of Gym, but its implementation is pretty chaotic and overcomplicated, which makes any modifications difficult, and bugs hard to spot. When yo

[2022-04-07 09:30] dooliu commented on #2730
Thanks，panda3D is a development kit for developing 3D environments.
I've found a way to combine panda3D and Gym。
If you interest with it,you can look this page:
https://docs.panda3d.org/1.10/python/introduction/index

panda3D is a good package for develop 3D envirment.

[2022-04-07 09:30] #2730 closed

[2022-04-07 13:44] araffin commented on #2510
The answers just confirmed what I was afraid of: this API change brings confusion even for the ones implementing the feature :/ (which mean even more confusion for new comers, in addition to a major breaking change).

In my opinion, a better alternative is to use the current API and make use of the `infos` dict to output termination reason as a good practice (should be highlighted in the doc), so

[2022-04-07 13:59] vwxyzjn commented on #2510
Hey @araffin, that is a good point. I think the new API at this point would be

`obs, reward, terminated, truncated, info = env.step(action)`

So there is no the ambiguous `done` Anymore.

[2022-04-07 19:02] kir0ul commented on #2700
I was using NumPy v1.21.4. With NumPy v1.22.3 and `pyright --pythonversion=3.7`, I don't get anymore errors :tada:

But with `pyright --pythonversion=3.10`, I still get the following 3 errors:
[code]

[2022-04-07 21:23] araffin commented on #2510
hmm, not sure how renaming `done` to `terminated` solves the confusion from https://github.com/openai/gym/issues/2510#issuecomment-1068026884 ?

[2022-04-07 21:26] vwxyzjn commented on #2510
Renaming `done` to `terminated` makes it more explicit. And we can make the example code like

[code]

[2022-04-08 01:19] #2700 closed

[2022-04-08 01:28] jkterry1 commented on #2524
I don't believe that developments on box2d are likely at this point, admittedly due to factors beyond my control. However, one one of the threads here that discuss box2d (I forget which, I apologize), someone linked to new maintained python bindings for box2d that they were working on.

[2022-04-08 01:32] jkterry1 commented on #2733
@pseudo-rnd-thoughts do you want to try creating a PR?

[2022-04-08 08:04] pseudo-rnd-thoughts commented on #2733
Would it be possible to add this as part of https://github.com/openai/gym/issues/2738?
@RedTachyon would you happy to do this as part of rewriting make? Or should I try and do it as a separate PR?

[2022-04-08 12:57] #2736 closed

[2022-04-08 14:37] #2716 closed

[2022-04-08 14:54] #2564 closed

[2022-04-09 01:31] wj210 opened #2741 "[Question] Changing mujoco xml path dynamically"
Is there any way i can dynamically change the mujoco model i would like to load? Example if i were to make 5 different xml files, could i somehow use the make function to load different xml files without having to register 5 different classses?

[2022-04-10 08:24] gianlucadecola commented on #2729
I'm currently working on that :)

[2022-04-11 05:38] kir0ul commented on #2734
To give an idea of point n°5 above, the HTML pages of the code coverage report would look something like the following, showing a breakdown of how much each Python file in the repo is tested:

![image](https://user-images.githubusercontent.com/6053592/162667287-b3a6fba7-c5a7-4994-aa51-3c97ddfb8589.png)

Clicking on a file would give the detail of which lines of code are run during testing:

![imag

[2022-04-12 04:55] DexiongYung opened #2747 "[Bug Report] Environments where obs are RGB images giving obs of 3 dimensional numpy arrays of mostly 0s"
If you are submitting a bug report, please fill in the following details and use the tag [bug].

**Describe the bug**
Both `obs` and `processed_obs` in the below code are giving 3 dimensional numpy arrays with mostly 0s filling it, even after transposed. It should show a car, road and background.

**Code example**
[code]

**System Info**
Gym was installed via pip
Ubuntu 18.04
Python 3.9.12

### Ch

[2022-04-12 12:31] pseudo-rnd-thoughts commented on #2734
One of the goals of gym 1.1 (https://github.com/openai/gym/issues/2524) is to have full type hinting.
I saw that mypy has the ability to generate a type coverage document in a similar way, however, I couldn't find any information for pyright.
I'm just mentioning it as this proposal sparked the idea as adding typing coverage would help with the goal of full type hinting.

[2022-04-12 18:22] Markus28 commented on #2747
Concerning your code, and in particular this line:
[code]
You shouldn't really alter the environment's action/observation spaces directly (because now `env`'s observations don't match `env.observation_space`!). It would be best practice to implement an [ObservationWrapper](https://www.gymlibrary.ml/content/wrappers/#observationwrapper).

Concerning your actual question: The environment should zoom

[2022-04-14 04:21] kir0ul commented on #2734
Yes Mypy is nice for that, it can produce useful reports like below (not sure about Pyright either):
[code]

[2022-04-14 04:21] kir0ul commented on #2734
I'm starting to lean towards [Pytest Coverage Comment](https://github.com/marketplace/actions/pytest-coverage-comment) as a good candidate to use in our PRs (solution n°6 in the first post). If there are no strong opinions against it I'll start a PR.

[2022-04-14 08:38] Anna4142 opened #2751 "How do I solve this 'FrozenLakeEnv' object has no attribute 'lastaction'"
### Question

If you're a beginner and have basic questions, please ask on [r/reinforcementlearning](https://www.reddit.com/r/reinforcementlearning/) or in the [RL Discord](https://discord.com/invite/xhfNqQv) (if you're new please use the beginners channel). Basic questions that are not bugs or feature requests will be closed without reply, because GitHub issues are not an appropriate venue for th

[2022-04-14 09:23] pseudo-rnd-thoughts commented on #2751
Could you provide some example code?
Are you sure that you have reset the environment?

Looking at the code, I'm guessing that you have tried rendering without resetting

[2022-04-14 12:29] amirmmi commented on #1844
As the error says, you have to make Box boundaries using np.float32 data type, like the following example:
`
action_space = spaces.Box(low=np.array([-1, -1, -1], dtype=np.float32), high=np.array([1, 1, 1], dtype=np.float32), dtype=np.float32)
`
Not only set action_space into float32 data type but also set the boundary types to float32.

[2022-04-15 04:05] cijerezg commented on #1193
Any updates on this? Halfcheetah seems to be non-deterministic.

[2022-04-15 07:55] haoshuiwuxiang opened #2753 "Segmentation fault (core dumped)"
### Question
![image](https://user-images.githubusercontent.com/40374436/163542329-bb655598-ee82-44c4-b852-f8f0e69a9b50.png)
when i run :env = gym.make("CartPole-v1")
report error: Segmentation fault (core dumped)
environment:
ubuntu16.04
python3.8

[2022-04-15 09:19] araffin commented on #2510
@vwxyzjn  mmh, for me `done` has only one meaning: episode is terminated, need to call `reset()`. The only difference is that an episode can be terminated for many reasons, one of them being time limit.

If you look at the actual PR https://github.com/openai/gym/pull/2752, you will notice a weird pattern that I described some months ago (here https://github.com/openai/gym/issues/2510#issuecomment-

[2022-04-15 09:35] XuehaiPan commented on #2510
@araffin I think explicit boolean variable `truncated` is better than `info["termination.truncated"]`, because it's easier to convert it into tensors. It's more Deep RL friendly.

1. Converting a batch of `dict` into NumPy array will give `np.array([list of infos]).dtype -> np.dtype('O')`.
2. Since we don't have an attribute `env.info_space`, it's hard to prepare padded batches for RNNs. Actually,

[2022-04-15 10:22] pseudo-rnd-thoughts commented on #2753
Have you downloaded the master and `pip install .`? Or have you just downloaded `pip install gym`?
There is a known issue in the CI currently where gym is seg faulting but that seems to be different from what is happening here

Are you able to do anything else with gym?
It would be great is you could locate what is causing the issue, i.e. pygame, cartpole,

[2022-04-15 11:44] younik commented on #2723
I am not able to reproduce the error, I think it is due to an older version of pygame.
Nevertheless, casting small_cell sizes to int doesn't hurt; #2754 should fix this.

[2022-04-15 13:41] pseudo-rnd-thoughts commented on #2723
@jrieffel Does this address your issue? If so, could you close the issue

[2022-04-15 14:31] haoshuiwuxiang commented on #2753
Thanks for your reply. I used PIP install gym to install gym
I used anaconda. I tried again and still reported an error:

从 Windows 版邮件发送

发件人: Mark Towers
发送时间: 2022年4月15日 18:22
收件人: openai/gym
抄送: haoshuiwuxiang; Author
主题: Re: [openai/gym] Segmentation fault (core dumped) (Issue #2753)

Have you downloaded the master and pip install .? Or have you just downloaded pip install gym?
There is a kno

[2022-04-15 14:48] pseudo-rnd-thoughts commented on #2753
Could you run
[code]

If this passes, could you try to make other environments, i.e. lunar lander, bipedal walker

[2022-04-15 15:02] jkterry1 commented on #1193
So the answer is that it's supposed to be, but likely is not due to issues. This will be merged in the next week or so probably, and should fix this if all goes well: https://github.com/openai/gym/pull/2595

[2022-04-15 15:02] #1193 closed

[2022-04-15 15:03] #2723 closed

[2022-04-15 15:05] haoshuiwuxiang commented on #2753
![image](https://user-images.githubusercontent.com/40374436/163587118-cb5b42d0-0d93-45ff-a009-5eb20a542ce2.png)
it report error

[2022-04-15 16:42] RedTachyon commented on #2753
@haoshuiwuxiang Do you have `pygame` installed and functional? Can you do `import pygame` and `from pygame import gfxdraw`? I suspect one of this lines might be causing the crash.

[2022-04-15 17:21] araffin commented on #2510
well, in that case, you do the same as for a batch of dict observation, you filter and then convert it (see https://github.com/openai/gym/blob/da7b8ae8fc6f5ff97c5f7303c03a26c8b4b3f4e2/gym/vector/utils/numpy_utils.py#L65). Most of the custom envs by users are single env (not already vectorized as isaac gym), so it doesn't much difference at the end.

Anyway, from an algorithm point of view, you nee

[2022-04-15 18:55] jkterry1 commented on #2751
@younik if this is a reproducible bug, you're the one who's been working with this code

[2022-04-15 18:59] jkterry1 commented on #2747
Hey, I'm going to close this due to inactivity, please let us know if you need any additional help :)

[2022-04-15 18:59] #2747 closed

[2022-04-15 19:01] pseudo-rnd-thoughts commented on #2751
Im fairly sure their code is
[code]
We can add PR to add a check for render that reset has been called before render or move the variables into the constructor

[2022-04-15 19:11] alexnikulkov commented on #70
Can we come back to this question? I think the reward is actually a function of the current state and action, not previous. A few examples from the simpler environments where it's really obvious:
-[Pendulum](https://github.com/openai/gym/blob/master/gym/envs/classic_control/pendulum.py#L114)
- [CMC](https://github.com/openai/gym/blob/master/gym/envs/classic_control/continuous_mountain_car.py#L147-

[2022-04-15 21:28] jjshoots opened #2758 "[Bug] turn indicators on car racing not rendering"
**Describe the bug**
I have no idea why, but after #2749, the turn indicators in CarRacing no longer render and are only black now.

Edit: Figured it out.

- [x] I have checked that there is no similar [issue](https://github.com/openai/gym/issues) in the repo (**required**)

![image](https://user-images.githubusercontent.com/38184875/163634485-ac7cdb46-a3f8-4164-bc99-ebc077d1472d.png)

[2022-04-16 03:30] haoshuiwuxiang commented on #2753
Thank you very much for your reply. Is it possible that the incompatibility is caused by the installation of ROS? I just changed a computer without ROS to run gym normally.

从 Windows 版邮件发送

发件人: Ariel Kwiatkowski
发送时间: 2022年4月16日 0:42
收件人: openai/gym
抄送: haoshuiwuxiang; Mention
主题: Re: [openai/gym] Segmentation fault (core dumped) (Issue #2753)

@haoshuiwuxiang Do you have pygame installed and fu

[2022-04-16 09:43] XuehaiPan commented on #2510
@araffin

That's what exactly I meant:

You need a `spaces.Dict` instance to convert `dict`s into NumPy arrays, right? In addition, the `info` dict is unordered rather than an `OrderedDict`.

------

We can save almost anything in the `info` dict. It's hard for a general RL framework to extract the values of a user-defined key in the `info`, and then stack them into a tensor for training.

If we a

[2022-04-16 10:46] younik commented on #2751
Yes, it is reproducible as @pseudo-rnd-thoughts showed. This is a problem in all environments: if you don't call `reset()` before `render()`, you will get a non-explanatory error.

@jkterry1 should be possible to drop the constraint of calling reset after the creation? It is common to all environments, so it could be done internally, isn't it?

[2022-04-16 11:33] pseudo-rnd-thoughts commented on #2758
@jjshoots Could you update the title just for the future

[2022-04-16 11:40] pseudo-rnd-thoughts commented on #2407
@JesseFarebro @jkterry1 Is there any progress on deprecating v0 or v4?

[2022-04-17 06:36] ZhihaoXu commented on #2648
I have the same issue and also tried `pip uninstall gym ale-py && pip install gym[atari]` but does not work. I am running the code on Colab, the output of `ls -l $(python -c 'import site; print(site.getsitepackages()[0])')/gym/envs/{atari,}` is
[code]

[2022-04-17 09:01] araffin commented on #2407
i wouldn't deprecate and remove v4 before any extensive study is made, see https://github.com/DLR-RM/stable-baselines3/pull/865#issuecomment-1100236113 (if i recall, Jesse mentioned at some point that there was no intention to remove v4)

[2022-04-17 12:00] araffin commented on #2510
@XuehaiPan

I'm glad we arrive to the same conclusion =)!

That's exactly my point since the beginning (https://github.com/openai/gym/issues/2510#issuecomment-989734977):
- we need documentation first before doing any breaking change (for instance renaming the key or changing the API)
- the solution already exists (via the `TimeLimit` wrapper) and is unofficial (already used by different codebases

[2022-04-17 14:36] #2758 closed

[2022-04-17 20:33] JesseFarebro commented on #2498
@profversaggi from looking at your post in in https://github.com/PacktPublishing/Hands-On-Intelligent-Agents-with-OpenAI-Gym/issues/39 you __cannot__ run things within the Gym directory. This is exactly what I was saying here: https://github.com/openai/gym/issues/2498#issuecomment-994072778.

If you clone Gym locally it will __not work__ if you're running scripts in the local folder OR if you inst

[2022-04-17 20:43] JesseFarebro commented on #2407
As @araffin said, I have no plans to outright remove `v0` or `v4` anytime soon. It would break too many existing projects. I think the work done here: https://github.com/openai/gym/pull/2535 was a good compromise for the time being, i.e., we warn users when they're using an outdated environment. Most projects who are actively using `v0` or `v4` can make a one-character change to upgrade and get ri

[2022-04-17 20:45] JesseFarebro commented on #2648
@ZhihaoXu what does your local directory look like? Do you have a`gym` module in your current working directory?

[2022-04-17 20:57] ZhihaoXu commented on #2648
@JesseFarebro Thanks for your reply. I think my problem is related to the setup of the baselines package. After reinstalling the baselines, the problem is solved.

[2022-04-17 21:03] JesseFarebro commented on #2738
This is long overdue. At the time of #2481 I didn't know how much of an appetite there was for breaking changes as there's quite a bit of code that uses the environment registry object. If you have any questions about how the entry-point plugin system works just let me know.

[2022-04-18 15:31] #2729 closed

[2022-04-18 15:40] #2751 closed

[2022-04-18 15:41] jkterry1 commented on #2751
I spoke to younik about this on a call, we have to have reset first

[2022-04-19 15:01] pseudo-rnd-thoughts commented on #2741
To create an environment, you don't need to use `gym.make`, this is more a shortcut for wrappers and everything else. You can if you want just initialise the environment passing a file path to mujoco. Personally, I don't have an experience with doing that, but I don't know a reason why you can't do that. You will have to recreate the environment each time for each file path but it could be a short

[2022-04-19 19:32] pseudo-rnd-thoughts commented on #2753
ROS shouldn't affect gym at all to my knowledge.
Did you try what @RedTachyon suggested above to trying to `import pygame` and see if that crashes your system?
You said that you are using ubuntu 16.04, I dont this should be an issue but we are starting to look for weird answers as there doesn't seem to be an obvious reason why this is happening

[2022-04-19 22:23] alexxcollins commented on #1280
This thread has helped me out a lot.

@rfali - I think you may have a typo and your post should read:

Breakout-v4 vs Breakout-ram-v4
game-**_ram_**-vX: Observation Space (128,). Observation is given as a vector of size 128.
game-vX: Observation Space (210,160,3). Observation is given as pixels of Width:210, Height:160, Depth:3

[2022-04-19 22:50] pseudo-rnd-thoughts opened #2763 "[Bug Report] Lunar Lander windy demo heuristic fails"
In running the CI, I had the lunar lander using the windy parameter failed for me
https://github.com/openai/gym/runs/6086223589?check_suite_focus=true

We should fix this as otherwise other CIs will continue to fail for no reason to do with the PR

[2022-04-20 14:45] aniruddhkb commented on #2503
Just chiming in -- @Markus28 's solution worked for me, although I did have to add

`import glfw`
to the top of mujoco_env.py

[2022-04-20 16:13] Rajathbharadwaj commented on #218
This worked for me! Btw I was trying to install
`Lightning bolts extra`

[2022-04-20 21:32] gianlucadecola commented on #2657
I'm currently looking at this; for wrappers like ```RecordEpisodeStatistics``` the most reasonable approach to me seems the first proposal
[code]
Since there are a lot of things to work on I think it is better to agree on the new API before starting to make changes.

Also the solution proposed by @Trinkle23897 seems good, my only doubt is that using 0's can be misleading regarding the fact that it

[2022-04-20 23:18] pseudo-rnd-thoughts commented on #2657
There is a third option which I suspect to be inefficient however removes the need for no-data data, i.e. `0` or `None`.
That is pairing the info data with the environment number.
This I think would be efficient for sparse environment info but not for dense
[code]

Otherwise I think that brax and tianshou have very similar implementations that we could follow making gym work with their modules eas

[2022-04-20 23:28] jjshoots opened #2767 "[Proposal] Tests for all envs"
### Proposal

There should be more comprehensive tests for all envs. Probably the easiest test would be similar to that in PettingZoo where every state of a rollout is asserted to be contained in the observation space.

There should also be tests that assert the behaviour of environments where this can be tested. One example is the heuristic landing for Lunar Lander (which currently only works for

[2022-04-21 17:32] zbeucler2018 opened #2768 "[Bug Report] KeyError: (<weakref at 0x00000185FF878EA8; to 'Win32Window' at 0x00000185FF878EA8>,)"
**Describe the bug**
Hello! I am trying to run a Gym retro environment on my windows 10 machine. I decided to make this issue in the Gym repo because that is where the error occurs. Here is the error

Let me know if anymore info is needed.

[code]

**Code example**
[code]

**System Info**
 * Gym (and gym-retro) installed via Pip
 * Windows 10
 * Python version 3.6
 * Most up-to-date Gym version

*

[2022-04-21 18:17] ollintzinlab commented on #1610
Hello everyone,
I implemented a new environment for xArm6 based on FetchEnv with DDPG+HER. But I have the same problem to free the gripper orientation.
Thank you

[2022-04-21 18:45] pseudo-rnd-thoughts commented on #2763
Closed with fixed by #2766 through removing the test.

[2022-04-21 18:45] #2763 closed

[2022-04-21 21:29] RedTachyon commented on #2768
`retro` isn't really supported or maintained anymore. My guess is that if you really want it to work, you'll need to downgrade to some older version of `gym` (which, in contrast, is maintained), but it's unlikely you'll be able to get much help on that.

[2022-04-21 21:29] #2738 closed

[2022-04-22 09:37] younik commented on #2699
I close this since the last changes in #2671.

[2022-04-22 09:37] #2699 closed

[2022-04-22 23:08] erhathaway opened #2772 "[Bug Report] Dead link to third party environments in documentation"
**Describe the bug**
There is a dead link in documentation.

On the page [gym.openai.com/envs/#classic_control](https://gym.openai.com/envs/#classic_control) the link titled `Third party environments` leads to this empty path `https://github.com/openai/gym/blob/master/docs/environments.md#third-party-environments`.

It looks like at one point this codebase hosted the docs, but doesn't anymore. So

[2022-04-22 23:10] erhathaway commented on #2772
I just noticed the link to the new docs repo. Closing.

[2022-04-22 23:10] #2772 closed

[2022-04-23 04:31] kir0ul commented on #2734
I'm having some issues in getting the coverage working with the current setup, for some reason the coverage number doesn't get computed and stays at 0%. But it seems I can get it to work either by installing Gym in editable mode with `pip install -e .[nomujoco]`, or by running Pytest without the `--import-mode=append` option. Both workarounds look related to https://github.com/openai/gym/pull/2429

[2022-04-23 16:56] JesseFarebro commented on #2734
@kir0ul namespace packages still don't work in editable mode but this won't impact the Gym tests. All the ALE-specific tests are in our repository, not Gym.

[2022-04-24 14:10] im-Kitsch opened #2776 "[Question] Diferrent behavior of mujoco version"
Hi,

I wonder if there is an expectation of identical behavior over different plattform and mujoco version.

I tested on my Ubuntu PC and MacOS, but they showed different behavior.  Using the same seed to initialize the environment, the intial state s_0 is different in different mujoco version.

I runned simply.
[code]

On my Ubuntu PC,
it shows:
[code]
On MacOS, it shows,
[code]

My Ubuntu PC's c

[2022-04-24 17:05] vwxyzjn commented on #2776
Can you get the same results with seeding in the Mac OS and Ubuntu, respectively?

in my past experience if I stayed with an operating system I can always reproduce same results with seeding, however all bets are off when using the same seed for different hardware / os.

[2022-04-25 01:22] kir0ul commented on #2734
@JesseFarebro So does it mean we could get rid of the `--import-mode=append` option in Pytest or add back the editable install option with Pip?

[2022-04-25 10:59] SamVanhoutte opened #2779 "[Bug Report] Import error when making cliff-v0 environment"
**Describe the bug**
I am (for an excercise in my course), trying to create (`make`) an environment for RL.  However, when executing the lines of code (see below in the Code example), I am getting an import error:
[code]

**Code example**
This is the code I am using
[code]

**System Info**
Describe the characteristic of your environment:
 * Gym was installed, using pip: `pip3 install gym`
 * What

[2022-04-25 15:26] younik commented on #2779
This should be a problem of gymgrid, there is an open PR: https://github.com/wsgdrfz/gymgrid/pull/1
If you want to use the last version of gym, you can try using the branch of that PR (https://github.com/CedricHermansBIT/gymgrid2); you can install it with `pip install gymgrid2`

[2022-04-25 23:45] lebrice commented on #2648
Still somehow doesn't work on my end.

[2022-04-26 10:38] im-Kitsch commented on #2776
Hi,

thanks for the reply, yes, I can get same result in same plattforms. But it would be more appreatiated, when man can get the same result in differrent plattforms. Since in most library, numpy, torch,..... are identical over different plattforms.

But if there is differences due to different plattforms/mujoco_versions/other reasons, it will add pretty much difficulty for reproduceability of pa

[2022-04-26 12:19] JesseFarebro commented on #2648
@lebrice can you give me more information, e.g., what's the output of:

[code]

- What's the directory tree look like in your current working directory? Feel free to post it if you can.
- How did you install Gym? make sure it's not in editable mode.
- Make sure there's no file / folder called Gym in your project.
- Make sure Gym isn't a git submodule.
- Make sure you're not working out of the Gym

[2022-04-26 12:22] JesseFarebro commented on #2734
Yes, I don't see the issue there. This has become more so an issue for me when I'm testing the ALE. If you don't want to perform any ALE-related tests (which you shouldn't) then you don't need to make any compromises regarding namespace packages. The ALE should be the only namespace package that Gym supports, and this is just for backwards compatibility as people relied on the module path of `gym.

[2022-04-26 12:41] JesseFarebro commented on #2734
@pseudo-rnd-thoughts it could, I can keep backwards compatibility while deprecating the namespace package by conditionally registering the entry-point based on the Gym version.

[2022-04-26 12:53] pseudo-rnd-thoughts commented on #2767
## Proposed changes
* Update the`spec_list` to remove atari and provide a full spec list and a no-mujoco spec list
* Remove all atari tests - Currently atari is not being installed so there is no point in the tests being there. https://github.com/openai/gym/issues/2734#issuecomment-1109729283
* Upgrade the action dim test - Check that environments do not allow out of bounds actions, i.e. extra dim

[2022-04-26 18:33] duburcqa commented on #2776
Different platforms are known to return different results when it comes to linear algebra using different hardware because the available instruction sets are different. As a result, the rounding errors are different and ultimately it diverges because of compounding of errors. Simulators are extremely sensitive to this phenomenon. The OS is likely not the problem but the rather the hardware. Note t

[2022-04-26 19:18] im-Kitsch commented on #2776
Hi,

thanks a lot for the reply. It's quite help.

[2022-04-26 19:20] vwxyzjn commented on #2776
@duburcqa thanks for the detailed explanation. @jkterry1 I think we can close this issue now.

[2022-04-26 19:35] #2776 closed

[2022-04-27 03:06] lebrice commented on #2648
Nevermind @JesseFarebro , I believe there was an older version of gym and/or ale-py in my pip cache.

Here is how I got this to work:
[code]
All is good. Sorry about that.

[2022-04-27 08:34] HasanBurney opened #2780 "env.make() and env.render() not working properly"
While running the env.render(), its giving me the deprecated error, and asking me to add render_mode to env.make(), while i already have done so. Reinstalled all the dependencies, including the gym to its latest build, still getting the same error
![image](https://user-images.githubusercontent.com/48687738/165476743-a92eb472-2749-4998-a28d-b6a252db4869.png)
![image](https://user-images.githubuserc

[2022-04-27 10:13] arjun-kg commented on #2780
I believe ale-py (atari envs) removed support for `env.render()` at every step. You only need to specify render argument in make, and can remove `env.render()` line. This will soon be default in native gym environments too.

[2022-04-27 12:30] HasanBurney commented on #2780
I made it work using render(mode='rgb_array') for the time being, but thank you for this!

[2022-04-27 12:30] #2780 closed

[2022-04-27 18:12] piteren opened #2781 "[Bug Report] pygame is required but is not listed in package setup requirements"
**Describe the bug**
gym/envs/classic_control/cartpole.py imports pygame but it is not listed in package setup requirements

**Code example**
gym.make('CartPole-v1')

**System Info**
gym installed with pip
NAME="Ubuntu"
VERSION="20.04.4 LTS (Focal Fossa)"
Python 3.7.13

- [x] I have checked that there is no similar [issue](https://github.com/openai/gym/issues) in the repo (**required**)

[2022-04-27 20:03] balisujohn commented on #2781
What version of gym do you have installed?

[2022-04-27 20:13] piteren commented on #2781
with:
pip install gym
I have installed:
gym                          0.23.1

[2022-04-27 21:08] balisujohn commented on #2781
pygame is listed in [requirements.txt](https://github.com/openai/gym/blob/master/requirements.txt) in the version of gym you're using. I'm not super knowledgeable about pip packaging; is there a particular config file you're referring to when you say pygame is missing from the package setup requirements?

[2022-04-27 21:16] piteren commented on #2781
Yes, it is listed in requirements.txt, but as far as I know it should be also listed in setup.py in install_requires [line 48] section for package proper installation.

[2022-04-27 21:32] balisujohn commented on #2781
try

`pip install gym[box2d]`

or

`pip install gym[all]`

[2022-04-27 21:40] piteren commented on #2781
I have just installed pygame separately with
`pip install pygame`
and it works for me.

[2022-04-27 23:20] pseudo-rnd-thoughts commented on #2781
@piteren Thanks for the comment, this is a fix we have made in the current master branch however it is not in the current release.
We hope it will be released soon

[2022-04-28 14:37] pseudo-rnd-thoughts commented on #2680
@vwxyzjn Thanks has been solved https://github.com/openai/gym/pull/2727, could you close please

[2022-04-29 22:33] jkterry1 commented on #2768
Closing as this is for a different library. You might want to look at stable-retro through.

[2022-04-29 22:33] #2768 closed

[2022-04-29 22:34] #2781 closed

[2022-04-29 22:58] #2741 closed

[2022-04-29 23:59] #2779 closed

[2022-04-30 00:00] jkterry1 commented on #2657
Closing in favor of PR

[2022-04-30 00:00] #2657 closed

[2022-04-30 00:01] #2503 closed

[2022-04-30 00:09] #2680 closed

[2022-04-30 09:10] kknydnai commented on #1280
Dear rfali,
I have checked, what you have written in game-v4 / game-ram-v4 is swapped up as alexxcollins said

[2022-04-30 11:18] zhouliang-yu opened #2786 "module 'gym.envs.box2d' has no attribute 'CarRacing'"
**Describe the bug**
Hi!
When I try to run the code
[code]
there is a bug saying that "module 'gym.envs.box2d' has no attribute 'CarRacing'"

but before that, I did install the Box2D by pip install

**System Info**
The code is run on colab
 * support version
python3.7
gym                           0.17.3

- [ ] I have checked that there is a similar [issue](https://github.com/openai/gym/issues/198

[2022-04-30 12:10] pseudo-rnd-thoughts commented on #2786
Did you run `pip install gym[box2d]`?

[2022-04-30 13:23] bluenote10 commented on #2781
Nonetheless this is a regression in a sense, because it makes the basic [tutorial](https://gym.openai.com/docs/) invalid.

Following the suggested steps of the tutorial is an error now:

[code]

This used to work fine with gym version 0.21.0. In fact, it looks like in 0.21 it wasn't necessary to have pygame installed to use the cartpole env. It is a bit unfortunate that the env now requires such a

[2022-04-30 13:41] edilgin commented on #2786
I am also getting the same error. Also got an error when `pip install gym[box2d]` it says legacy-install-failure and I couldn't see any solution to that.

[2022-04-30 15:46] zhouliang-yu commented on #2786
yes but still not work..

[2022-04-30 20:02] pseudo-rnd-thoughts commented on #2781
@bluenote10 Thanks for the comment, I understand your annoyance.
The reason for the problem was that we changed to pygame as the rendering module however pygame was imported even if the user didn't want to render the environment.
In the next release that we have hoping to release in the next week or so, we have made this an optional module that is only required for rendering.

[2022-04-30 20:13] pseudo-rnd-thoughts commented on #2786
@zhouliang-yu You say you are using 0.17.3, however I can't find a release for that.

I have created a next python environment and run
`pip install gym[box2d]`
[code]

@zhouliang-yu and @edilgin Could you run, this should test if the issue is with gym.make or something else
[code]

[2022-05-01 02:57] kir0ul commented on #2734
@pseudo-rnd-thoughts Apparently displaying the number of warnings in the report summary is not possible as it's not part of the JUnit XML format: https://github.com/MishaKav/pytest-coverage-comment/issues/31#issuecomment-955597218.

[2022-05-01 04:14] zhouliang-yu commented on #2786
yes

yes problem solved

[2022-05-01 04:14] #2786 closed

[2022-05-01 09:28] rfali commented on #1280
@alexxcollins @kknydnai thanks for noticing that typo, I have updated my comment!

[2022-05-01 14:48] nuomizai opened #2793 "[Question] __init__() got an unexpected keyword argument 'continuous' for LunarLander-v2"
I make LunarLander-v2 with continuous action space as suggested by the [source code](https://github.com/openai/gym/blob/master/gym/envs/box2d/lunar_lander.py)

[code]

However, I got an error as ` TypeError: __init__() got an unexpected keyword argument 'continuous' for LunarLander-v2`.

I install  LunarLander-v2 with the following command

[code]

Did anyone know how to use LunarLander-v2 with a

[2022-05-01 17:24] shivencar opened #2794 "OpenAI Email"
Hello,

I know this is not regarding the code point of things, but I was just wondering if there is an email I could use to contact OpenAI about a great project idea.

Thanks!!!

[2022-05-01 20:37] edilgin opened #2795 "[Question] There is no Box2D even though I pip installed gym"
I am having trouble in a very simple task.
I am trying to run CarRacing environment with the following code
[code]

and it throws an error
AttributeError: module 'gym.envs.box2d' has no attribute 'CarRacing'
I tried to run another code that was proposed in another issue #2786 like this

[code]

but this time got the error
ModuleNotFoundError: No module named 'Box2D'

When I try to download Box2D w

[2022-05-01 21:05] pseudo-rnd-thoughts commented on #2793
So I can't replicate your issue
Could you run
`pip uninstall gym`
`pip install gym[box2d]`

The issue could be you are on an old version of gym or box2d is not installed correctly
Part of the issue is you possible need to install `box2d-py` not `box2d` or `box2d-kengz`

[2022-05-01 21:09] pseudo-rnd-thoughts commented on #2794
All of the current maintainers are not openai employees or have any contact with openai most of the time
So sadly we can't help you at all

I recommend looking for an email address on their website but before doing that I recommend trying to check if anyone has done the work already

[2022-05-01 21:12] pseudo-rnd-thoughts commented on #2795
I have never seen this error before
Could you run `pip uninstall gym` and `pip install gym[box2d]`
If this fail, could you give you the full install error message and could you tell us what operating system you are on, the python version and the gym version that it tries to install.

[2022-05-01 22:01] shivencar commented on #2794
I tried looking on the website and searching it up, but I couldn't find an email address or phone number. Also, I have looked on their website to see if somebody has done that project, but no one has done it.

Cheers!!!

[2022-05-02 02:24] nuomizai commented on #2793
Thanks for your reply. This problem is solved by reinstalling the gym as you suggested. It seems that I've installed an older version of gym or box2d.

[2022-05-02 16:19] Markus28 opened #2797 "[Bug Report] Misleading type hint for `MultiDiscrete`"
Type hints suggest that `MultiDiscrete` spaces must be flat: https://github.com/openai/gym/blob/b4f40f5ab621cafa778af393f540e51588fe2b8d/gym/spaces/multi_discrete.py#L33

That's actually not true, something like

[code]

is allowed. Whether it is a good idea is another question entirely.

[2022-05-02 16:45] Markus28 commented on #2797
Also, why do we need a dtype?

[2022-05-02 17:11] pseudo-rnd-thoughts commented on #2797
One of the aims in the future is to have the whole project type checked, at least the critical parts like space.

From memory, nvec that is passed to a numpy array so you are right, the type is greater than what the docstring actually says.

[2022-05-02 17:20] Markus28 commented on #2797
I will change the type to `Union[np.ndarray, list[int]]`.

I feel like it is reasonable to require a numpy array if someone wants multiple axes. I have no idea how to encode an arbitrarily nested list as a type hint. Even if it was possible, it wouldn't guarantee flawless conversion to a numpy array.

But I'm still puzzled by the argument `dtype`. Why would we want to allow someone to pass `float`

[2022-05-02 22:21] pseudo-rnd-thoughts commented on #2797
To make an arbitrarily nested list, I suspected we would have to construct a recursive type hint but that doesn't seem good.
For now, I think it is fine
Passing a numpy array is probably the way to get people to use arbitrarily sized arrays so I dont think we should worry about it with the new typing.

For the dtype, I agree, this doesn't seem to make much sense but someone may care about using `u

[2022-05-03 14:01] #2794 closed

[2022-05-03 15:55] jjshoots opened #2799 "[Proposal] Add turbulance disturbance to LunarLander"
### Proposal

As it stands, LunarLander currently has an option to add wind. But this wind only applies a linear impulse to the craft.
It would be good if wind also applies rotational impulses to the craft, to pseudo-simulate the effect of turbulance.

The most obvious way to do this would be to modify the first part of `step()` to also include a `self.lander.ApplyTorque(...)` line under the wind

[2022-05-03 17:37] virgilt commented on #2799
@jjshoots, I am looking into this issue. @pseudo-rnd-thoughts asked me take a stab at it.

[2022-05-04 17:34] sidney-tio commented on #2795
Hey both, I encountered the same problem trying to create `LunarLander` as well. It seems that the problem resides with Box2D and the related `try` statement that leaves the problem undetected at https://github.com/openai/gym/blob/95063a08943e1f587c58be7435d94f81ccac8fd9/gym/envs/box2d/__init__.py#L1-L2

When I tried `pip install gym[box2d]`, it also resulted in same problems: error: legacy-instal

[2022-05-04 19:01] pseudo-rnd-thoughts commented on #2795
@sidney-tio Thanks for the comment, I had never seen that try and except and will see if I can remove that
Investigating the `box2d-py` install, this seems to be a legacy produce of gym where OpenAI forked an old repo of [box2d](https://github.com/openai/box2d-py) as the install from [pip](https://pypi.org/project/box2d-py/)

I will investigate moving to the more recent box2d as a temporary soluti

[2022-05-05 18:41] cash opened #2801 "[Bug Report] Release notes for 0.22.0 don't mention changing the RNG"
Gym 0.22 changes the RNG used which means you'll get different sequences from the environments depending on the version of gym that you're using. With 0.21, the RNG was RandomState(MT19937) and after upgrading the RNG changed to RandomNumberGenerator(PCG64). For our use case, repeatability is important and so testing against 0.22 and 0.21 was giving different results. This is related to #2422

###

[2022-05-06 10:18] vadim0x60 opened #2803 "[Bug Report] env checker does not restart done environments."
**Describe the bug**
When `CartPole` is `done`, but you keep calling `env.step()` on it, it logs a warning that any steps after the environment is done are undefined behavior. However, the env checker (see, for example, `gym.utils.env_checker._check_nan()`) does not respect this rule and makes step after step without checking for `done`. For some environments this can lead to an error, so those en

[2022-05-06 12:33] pseudo-rnd-thoughts commented on #2803
Thanks for the comment, this will be fixed in the next release

[2022-05-06 13:40] #2803 closed

[2022-05-06 14:00] #2801 closed

[2022-05-07 11:38] binnhe commented on #1227
Normally, we’ll end the simulation before the cart-pole is allowed to go off-screen. More on that later. For now, please ignore the warning about calling step() even though this environment has already returned done = True.

from https://gym.openai.com/docs/

[2022-05-07 20:23] Tomoyukiryu opened #2806 "[Question] No module named 'gym.envs.classic_control.rendering' .How do I fix it?"
I run a en example fro gym-retro randomagent and error message poped out saying "File "/home/.../lib/python3.7/site-packages/retro/retro_env.py", line 228, in render
    from gym.envs.classic_control.rendering import SimpleImageViewer
ModuleNotFoundError: No module named 'gym.envs.classic_control.rendering'.

[2022-05-07 21:49] pseudo-rnd-thoughts commented on #2806
So gym retro is another project by openai that I don't believe is being maintained anymore. https://github.com/openai/retro
The gym rendering API was updated from pyglet to pygame in 0.22.0 so I would guess you would need to use an old version of gym.

[2022-05-07 22:04] Tomoyukiryu commented on #2806
Thank you ,that worked.

[2022-05-07 22:04] #2806 closed

[2022-05-08 18:01] zimonitrome commented on #2656
Downgrading to version 0.21.0 also worked

[2022-05-09 15:03] vadim0x60 opened #2809 "[Bug Report] Import of custom environments is broken in 0.22"
**Describe the bug**
In gym 0.21 there is a useful feature for loading custom environments. One can call

[code]

And gym will import the `module` before trying to make `Env`. In gym 0.22 it got broken.

**Code example**

Make a file named `test.py`:

[code]

then, in python console or in another file, run `gym.make('test:Dummy-v0')`. If you have gym 0.21.0 installed, you get

[code]

With gym 0.2

[2022-05-09 15:13] pseudo-rnd-thoughts commented on #2809
You need to register the environment before making an environment
https://www.gymlibrary.ml/content/environment_creation/#registering-envs

In 0.22.0, there was a large modification to the make function which is probably what caused this issue.
If you want, you can initialise the environment without `make` and add the wrappers yourself (TimeLimit and OrderEnforcing).

[2022-05-09 15:35] vadim0x60 commented on #2809
Last line of `test.py`

[code]

[2022-05-09 18:13] Markus28 commented on #2809
I can reproduce this behavior and it seems like a serious bug.

@RedTachyon could you explain how the registration of custom environments is supposed to work and which module has to be imported to `make` the custom environment? When I wrote the [documentation](https://www.gymlibrary.ml/content/environment_creation/#creating-environment-instances) I also faced this issue. Therefore, I wrote that we

[2022-05-09 18:23] RedTachyon commented on #2809
First time I'm hearing of the pattern `gym.make('module:Env')`, was this documented somewhere or mentioned in some tutorial or something?

[2022-05-09 18:42] RedTachyon commented on #2809
Ok, I took a closer look at the code, I think I know what happened.

The problem is that you used to be able to write, for example:
[code]

and this will work, because `gym.make` will import `pybullet_envs` under the hood (`pybullet_envs` is just an example of a library that you can install, and which will register some envs when you import it)

This happens due to the `load(...)` function in `gym

[2022-05-10 07:03] ZJP-c4cld opened #2810 "How to change mujoco model parameters to pytorch tensor?"
I want to construct a neural network in pytorch which outputs appropriate values of mujoco model parameters.  But this requires that mujoco model parameters are converted into pytorch tensors and mujoco environments run well with these converted model parameters. I don't know how to achieve this goal. Anyone know how to do that?

[2022-05-10 08:34] minoshiro1 opened #2811 "[Bug Report] ActionWrapper NotImplementedError"
Hello, i have some problem during my test on Reinforcement learning implementation. Then I try a easy one also come out the same error. It happens every time env.step(action) and the action is normalized through the ActionWrapper.
My codes are as follows

import torch
import gym
class NormalizedActions(gym.ActionWrapper):
def _action(self, action):
        low  = self.action_space.low
        high

[2022-05-10 09:46] RedTachyon commented on #2811
You seem to have implemented the wrapper incorrectly, check out its actual signature: https://github.com/openai/gym/blob/master/gym/core.py#L349

Notably, you should remove the underscore in `def _action` and `def _reverse_action` and it should maybe work

[2022-05-10 10:05] pseudo-rnd-thoughts commented on #2810
As most gym environments return numpy arrays then `torch.Tensor(obs)` should work most of the time

While this tutorial is not for mujoco, it should provide you with most of the details you are interested in  https://pytorch.org/tutorials/intermediate/reinforcement_q_learning.html

[2022-05-10 10:19] #2811 closed

[2022-05-10 11:34] vadim0x60 commented on #2809
Thanks for looking into it! If this is now a "new feature request", let me quickly make a case for this feature.

It's most useful for programs that accept the name of the environment as a command line argument, environment variable, etc. - basically some form of input. So,

[code]

can become

[code]

The alternative is modifying the source code of `yet_another_train`, an arbitrarily complicated

[2022-05-10 12:06] ZJP-c4cld commented on #2810
@pseudo-rnd-thoughts Thank you for your prompt reply and selfless help ^_^
Most gym environments are written only by python, so converting model parameters into pytorch tensors and computing gradient of reward w.r.t model parameters are easy things.
In contrast, it is a different story when it comes to Mujoco, because Mujoco is activated by a simulator written by C++. Computing gradient of reward

[2022-05-10 13:42] pseudo-rnd-thoughts commented on #2809
@RedTachyon Are you happy to work on this new feature?

[2022-05-10 13:49] pseudo-rnd-thoughts commented on #2810
Im not sure that I understand what you are saying.
For deep reinforcement learning algorithms, we compute the gradient using the network parameter w.r.t the training loss.
So we do not find the gradient with respect to the environment implementation and it doesn't matter if the environment is written in python or c++.
The mujoco environments return a numpy array like cartpole for example so you sh

[2022-05-10 15:18] #2797 closed

[2022-05-11 00:40] ZJP-c4cld commented on #2810
@pseudo-rnd-thoughts Thank you for your joining in the discussion. ^_^

[2022-05-11 00:58] wookayin commented on #2806
v0.21.0 has the rendering gym.envs.classic_control.rendering. Gym suddenly removed this module without no deprecation periods, in #2551.

[2022-05-11 02:35] xujinming01 commented on #1844
@amirmmi That's helpful.

[2022-05-11 02:36] xujinming01 commented on #1844
@amirmmi That's helpful!

[2022-05-11 07:40] ZJP-c4cld opened #2812 "How to compute the gradient of reward w.r.t. torso mass?"
I want to construct a neural network in pytorch which outputs appropriate values of mujoco model parameters. But this requires that mujoco model parameters are converted into pytorch tensors , and mujoco environments run well with these converted model parameters, and compute the gradient of reward w.r.t the mujoco model parameters.
Anyone know how to achieve this goal?

[2022-05-11 10:13] edilgin commented on #2795
Hi again, I tried both of the solutions and they didn't work, here are the error messages:
[code]
Collecting gym[box2d]
  Using cached gym-0.23.1-py3-none-any.whl
Requirement already satisfied: numpy>=1.18.0 in c:\users\fehim\pycharmprojects\cybernetics\venv\lib\site-packages (from gym[box2d]) (1.22.2)
Requirement already satisfied: cloudpickle>=1.2.0 in c:\users\fehim\pycharmprojects\cybernetics\

[2022-05-11 10:40] pseudo-rnd-thoughts commented on #2795
The error was caused by swig `error: command 'swig.exe' failed: None`
You can download swig [here](https://www.swig.org/download.html)
This should fix your issue.

[2022-05-11 10:42] sidney-tio commented on #2795
if install swig doesnt work, try installing box2d manually (i.e. `pip install box2d` (instead of gym[box2d])? see my reply above:

[2022-05-11 10:58] pseudo-rnd-thoughts commented on #2812
I don't understand how this is an issue for gym, this seems like a research question so I would talk to academics about it as they will have better understanding of research on this topic.
If you can find any issue with gym that prevents you to do something then please reopen the issue

[2022-05-11 11:07] edilgin commented on #2795
After downloading swig I also had to
[code]
Solved the issue

But I don't understand why doing such a menial task required this many steps, what was the problem here me or the gym library?

[2022-05-11 11:14] RedTachyon commented on #2809
I don't really have the bandwidth to do it properly at the moment, if someone else wants to work on it now, that'd be great. Otherwise I can come back to it in some time. I can also offer pretty specific guidance on how I'd see this actually being implemented - it shouldn't be too complex overall, and most of the work would be writing tests and documentation (which is the bottleneck for me right n

[2022-05-11 11:19] pseudo-rnd-thoughts commented on #2795
So `box2d` is different from `box2d-py` that gym uses. You should just need to install `swig` (which is a requirement of box2d) and then run `pip install gym[box2d]`

[2022-05-11 11:28] arjun-kg commented on #2809
I can work on this if that's okay. I'll maybe check with @RedTachyon if I run into any complications.

[2022-05-11 17:53] kevinzakka commented on #2812
@ZJP-c4cld Would be great if you didn't open the same issue across 4+ repositories, not great etiquette :)

[2022-05-12 00:42] #2812 closed

[2022-05-12 11:51] #2795 closed

[2022-05-12 16:25] arjun-kg opened #2817 "[Bug Report] PyBullet Envs don't work with master"
Opening this issue in case other people run into this before it can be fixed.

Pybullet has this piece of code before they register all their envs when `pybullet_envs` is imported -
[code]
In the current registration mechanism, `registry` is a dict and so `registry.env_specs` is invalid. This will be fixed before the next release.

[2022-05-14 04:28] harshshah1801 opened #2820 "[Bug Report] NotImplementedError"
I am trying to run a basic program but it is showing NotImplementedError which I am unable to fix
code-
import gym
env = gym.make('CartPole-v0')
env.reset()
for _ in range(1000):
    env.render()
    env.step(env.action_space.sample())
env.close()
error-
---------------------------------------------------------------------------
NotImplementedError                       Traceback (most recent call

[2022-05-14 09:57] pseudo-rnd-thoughts commented on #2820
So we do not support python 3.6 anymore (as python itself are not supporting it anymore with no more updates)
This means that I believe you have downloaded an old version of the project and therefore it is probably causing issues with pyglet that we no longer use.

Could you upgrade python version and install a more recent version of gym, (`pip install gym[classic_control]`)

[2022-05-14 21:27] DominikRoB commented on #681
@RedTachyon Can you point me to a place where the current handling of seeding is described?

I was just about to set up env.seed just to see here its deprecated?

[2022-05-16 17:49] vwxyzjn opened #2823 "[Proposal] Invalid action masking"
### Motivation

It's common for games to have invalid _discrete_ actions (e.g. walking into a wall). The status quo is to create a `gym.spaces.Discrete` action space that contains both valid actions and invalid actions, and if an invalid action is executed, the gym environment/game engine ignores the invalid actions.

This is less ideal for RL libraries because using action masks (i.e., only sampl

[2022-05-17 14:05] renrenzsbbb opened #2824 "gym.error.NameNotFound: Environment `environments:RandomWalkEnv` doesn't exist.[Bug Report] Bug title"
If you are submitting a bug report, please fill in the following details and use the tag [bug].

**Describe the bug**
A clear and concise description of what the bug is.

**Code example**
Please try to provide a minimal example to reproduce the bug. Error messages and stack traces are also helpful.

**System Info**
Describe the characteristic of your environment:
 * Describe how Gym was installed

[2022-05-17 15:00] #2799 closed

[2022-05-19 03:40] 2291924061 commented on #2648
I have the same problem as you

[2022-05-19 03:41] 2291924061 commented on #2648
runfile('C:/Users/liao/Desktop/CNNPong/untitled2.py', wdir='C:/Users/liao/Desktop/CNNPong')
Traceback (most recent call last):

  File "D:\Anaconda3\envs\tfgpu\lib\site-packages\spyder_kernels\py3compat.py", line 356, in compat_exec
    exec(code, globals, locals)

  File "c:\users\liao\desktop\cnnpong\untitled2.py", line 9, in <module>
    env = gym.make('PongDeterministic-v4')#PongDeterministic-

[2022-05-19 03:42] 2291924061 commented on #2648
runfile('C:/Users/liao/Desktop/CNNPong/untitled2.py', wdir='C:/Users/liao/Desktop/CNNPong')
Traceback (most recent call last):

File "D:\Anaconda3\envs\tfgpu\lib\site-packages\spyder_kernels\py3compat.py", line 356, in compat_exec
exec(code, globals, locals)

File "c:\users\liao\desktop\cnnpong\untitled2.py", line 9, in
env = gym.make('PongDeterministic-v4')#PongDeterministic-v4 Pong-v4

File "D:\

[2022-05-19 03:43] 2291924061 commented on #2648
hi! bro ,Has your problem been solved   I seem to have the same problem as you

[2022-05-19 09:57] pseudo-rnd-thoughts commented on #2648
@2291924061 Could you run `pip uninstall gym` and `pip install gym[atari]`
Then rerun the results, do you get the same error?

[2022-05-19 11:50] 2291924061 commented on #2648
I tried to reinstall gym in the way you said, but it didn't help.This problem occurred when I installed the gym environment of 0.23.1.

[2022-05-19 11:53] 2291924061 commented on #2648
@pseudo-rnd-thoughts I have used this environment to run gym 0.19, and it won't have this problem. But when I update gym, he will report this error

[2022-05-19 11:58] 2291924061 commented on #2648
@pseudo-rnd-thoughts I re created and activated an environment. After configuring the new version of gym, everything will be normal. But the previous environment still doesn't work properly

[2022-05-19 14:00] pseudo-rnd-thoughts commented on #2648
What's the directory tree look like in your current working directory? Feel free to post it if you can.
How did you install Gym? make sure it's not in editable mode.
Make sure there's no file / folder called Gym in your project.
Make sure Gym isn't a git submodule.
Make sure you're not working out of the Gym project directory, i.e., don't git clone https://github.com/openao/gym && cd gym and work

[2022-05-19 17:51] trigaten opened #2825 "[Bug Report] New render API not working"
From [this documentation page](https://www.gymlibrary.ml/content/api/), running the following yields an error.

[code]

[code]

[2022-05-19 18:11] 2291924061 commented on #2648
In shell mode, this sentence will not report this error.

[2022-05-19 19:00] pseudo-rnd-thoughts commented on #2825
That documentation update seems a bit early, that PR is still in progress and will be merged soon https://github.com/openai/gym/pull/2671
For now, please remove the `render_mode` parameter

[2022-05-19 19:19] pseudo-rnd-thoughts commented on #2648
Could you also answer the other questions as well
Could you also tell us your operating system, gym version, ale-py version, python version

[2022-05-20 09:20] RedTachyon commented on #2825
Do we have any proper versioning of the documentation repo? It seems the built version is `master`, and new updates are also pushed to `master`, which isn't necessarily a great idea. We should probably do it like most other libraries, where you have a docs page for the last stable release, and separate docs for `master`

[2022-05-20 10:29] younik commented on #2825
Hello @trigaten,
https://github.com/Farama-Foundation/gym-docs/pull/124 was the pull to update documentation for https://github.com/openai/gym/pull/2671; the updated snippets will work when https://github.com/openai/gym/pull/2671 is merged.
Sorry for not pointing this out clearly. It would be nice to have a mechanism as @RedTachyon pointed out or you can reverse https://github.com/Farama-Foundatio

[2022-05-20 14:00] Markus28 opened #2826 "Scaling Issue of Vector Environments"
I am concerned that the current implementation of vector environments will lead to a performance hit once they are used for massive parallelization. Considering that this is the direction Gym is moving in (e.g., with Brax), this might become a significant problem.

For instance, if we are running an `AsyncVectorEnv` with lots of sub-environments, we will expect that the vast majority of them will

[2022-05-20 14:17] #2817 closed

[2022-05-20 15:51] haneensalameh66 commented on #2648
hello, i have almost the same problem with ALE namespace while trying to train a model on Colab by using these lines:

train_env = suite_gym.load('ALE/SpaceInvaders-v5')
evaluation_env = suite_gym.load('ALE/SpaceInvaders-v5')

and it show me this error message:

DeprecatedEnv: Env ALE/SpaceInvaders-v5 not found (valid versions include ['SpaceInvaders-v0', 'SpaceInvaders-v4'])
  In call to configur

[2022-05-20 15:52] haneensalameh66 commented on #2648
hello, i have almost the same problem with ALE namespace while trying to train a model on Colab by using these lines:

train_env = suite_gym.load('ALE/SpaceInvaders-v5')
evaluation_env = suite_gym.load('ALE/SpaceInvaders-v5')

and it show me this error message:

DeprecatedEnv: Env ALE/SpaceInvaders-v5 not found (valid versions include ['SpaceInvaders-v0', 'SpaceInvaders-v4'])
In call to configurab

[2022-05-20 15:55] haneensalameh66 commented on #2648
also i have installed AutoROM-0.4.2

[2022-05-20 22:48] TianhongDai commented on #2676
I also have the same error.

[2022-05-21 08:34] gianlucadecola opened #2828 "[Proposal] Standard error handling for out of bound actions"
### Proposal

Currently, for discrete action spaces, there isn't a standardized way of handling out-of-bound actions.
Some have this kind of check:
https://github.com/openai/gym/blob/745e7059e7754e26cfcaa82d0d9a0defec3a08c4/gym/envs/box2d/lunar_lander.py#L425-L427
Others let the step fail with different errors.

i.e. IndexError for acrobot (AVAIL_TORQUE is a `list`):
https://github.com/openai/gym/

[2022-05-21 10:36] pseudo-rnd-thoughts commented on #2828
I'm not sure, how I feel about this idea. Having looked through a couple of the environments, they seem like a spaghetti mess of code with features and rewrites slowly added over the last 5 years. For reference, this is a rewritten version of [mountain_car](https://github.com/google/deluca/blob/main/deluca/envs/classic/_mountain_car.py)

Personally, I think having a specification for dealing with

[2022-05-23 09:24] RedTachyon commented on #2826
I think this is more a matter of algorithm implementation, and not something we can necessarily fully support in gym.

Overall, a large part of the problem here is due to python, so it's unlikely we'll have a "good" general solution before GIL goes away (unless envpool works out, which I still don't believe).

However, some improvment can be done for a subset of envs. Vector envs are due for a maj

[2022-05-23 10:38] SteliosNtua opened #2830 "[Bug Report] CarRacing environment - Change of SCALE (car_racing.py) results to shifted initial position"
release 0.23.1

**Describe the bug**
Trying to run the car_racing.py with different values on track scale parameter SCALE leads to shifted starting position of the car.
While the camera starts at the expected starting position on the track, the car initial position is shifted.

The only parameters modified is ZOOM, reduced to 0.2 in order to make the bug visible, and SCALE in order to achieve larg

[2022-05-23 11:14] Markus28 commented on #2826
That makes sense, especially for Brax and stuff that uses vectorizable computations.
However, I still feel like it would be cool to have proper parallelization for slow environments that cannot do batched calculations, e.g. because some library that doesn't support it (MuJoCo, PyGame, solving sparse system etc.) has to be used somewhere. I don't know whether it is feasible to do this with Python,

[2022-05-23 11:14] #2826 closed

[2022-05-23 12:47] pseudo-rnd-thoughts commented on #2830
Thanks for your PR, we will investigate and try to solve the issue.
Do you have any ideas about what is going wrong in the code?

[2022-05-23 15:19] andrewtanJS commented on #2830
The issue was that there are in fact 2 different `SCALE` variables in `car_racing` and `car_dynamics` . #2831 fixes the issue.

[2022-05-23 15:33] SteliosNtua commented on #2830
Hey @andrewtanJS great work! Thank you for your prompt reply and contribution!

[2022-05-23 17:49] trigaten commented on #2825
@RedTachyon @younik How exactly should versioned documentation work?
Would we have a branch for each new gym version and have the site build from the most up to date branch?
When would master be pushed to?

[2022-05-23 18:42] #2830 closed

[2022-05-23 18:52] jkterry1 commented on #2676
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:52] #2676 closed

[2022-05-23 18:52] jkterry1 commented on #2559
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:52] #2559 closed

[2022-05-23 18:52] jkterry1 commented on #2532
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:52] #2532 closed

[2022-05-23 18:52] jkterry1 commented on #2447
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:52] #2447 closed

[2022-05-23 18:52] jkterry1 commented on #2402
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:53] #2402 closed

[2022-05-23 18:53] jkterry1 commented on #2255
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:53] #2255 closed

[2022-05-23 18:53] jkterry1 commented on #2173
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:53] #2173 closed

[2022-05-23 18:53] jkterry1 commented on #2232
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:53] #2232 closed

[2022-05-23 18:53] jkterry1 commented on #2161
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:53] #2161 closed

[2022-05-23 18:53] jkterry1 commented on #2118
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:53] #2118 closed

[2022-05-23 18:53] jkterry1 commented on #2090
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:53] #2090 closed

[2022-05-23 18:53] jkterry1 commented on #2074
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:53] #2074 closed

[2022-05-23 18:54] jkterry1 commented on #2061
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:54] #2061 closed

[2022-05-23 18:54] jkterry1 commented on #2051
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:54] #2051 closed

[2022-05-23 18:54] jkterry1 commented on #2039
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:54] #2039 closed

[2022-05-23 18:54] jkterry1 commented on #2037
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:54] #2037 closed

[2022-05-23 18:54] jkterry1 commented on #2025
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:54] #2025 closed

[2022-05-23 18:54] jkterry1 commented on #1988
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:54] #1988 closed

[2022-05-23 18:54] jkterry1 commented on #1962
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:54] #1962 closed

[2022-05-23 18:54] jkterry1 commented on #1958
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:54] #1958 closed

[2022-05-23 18:55] jkterry1 commented on #1956
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:55] #1956 closed

[2022-05-23 18:55] jkterry1 commented on #1927
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:55] #1927 closed

[2022-05-23 18:55] jkterry1 commented on #1911
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:55] #1911 closed

[2022-05-23 18:55] jkterry1 commented on #1883
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:55] #1883 closed

[2022-05-23 18:55] jkterry1 commented on #1874
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:55] #1874 closed

[2022-05-23 18:55] jkterry1 commented on #1851
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:55] #1851 closed

[2022-05-23 18:55] jkterry1 commented on #1837
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:55] #1837 closed

[2022-05-23 18:55] jkterry1 commented on #1826
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:55] #1826 closed

[2022-05-23 18:56] jkterry1 commented on #1811
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:56] #1811 closed

[2022-05-23 18:56] jkterry1 commented on #1803
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:56] #1803 closed

[2022-05-23 18:56] jkterry1 commented on #1797
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:56] #1797 closed

[2022-05-23 18:56] jkterry1 commented on #1776
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:56] #1776 closed

[2022-05-23 18:56] jkterry1 commented on #1773
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:56] #1773 closed

[2022-05-23 18:56] jkterry1 commented on #1742
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:56] #1742 closed

[2022-05-23 18:56] jkterry1 commented on #1736
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:56] #1736 closed

[2022-05-23 18:56] jkterry1 commented on #1712
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:56] #1712 closed

[2022-05-23 18:57] jkterry1 commented on #1662
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:57] #1662 closed

[2022-05-23 18:57] jkterry1 commented on #1646
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:57] #1646 closed

[2022-05-23 18:57] jkterry1 commented on #1645
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:57] #1645 closed

[2022-05-23 18:57] jkterry1 commented on #1640
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:57] #1640 closed

[2022-05-23 18:57] jkterry1 commented on #1615
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:57] #1615 closed

[2022-05-23 18:57] jkterry1 commented on #1609
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:57] #1609 closed

[2022-05-23 18:57] jkterry1 commented on #1594
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:57] #1594 closed

[2022-05-23 18:57] jkterry1 commented on #1586
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:57] #1586 closed

[2022-05-23 18:58] jkterry1 commented on #1530
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:58] #1530 closed

[2022-05-23 18:58] jkterry1 commented on #1521
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:58] #1521 closed

[2022-05-23 18:58] jkterry1 commented on #1518
see gymlibrary.ml

[2022-05-23 18:58] #1518 closed

[2022-05-23 18:58] jkterry1 commented on #1212
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:58] #1212 closed

[2022-05-23 18:58] jkterry1 commented on #1210
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:58] #1210 closed

[2022-05-23 18:58] jkterry1 commented on #1102
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:58] #1102 closed

[2022-05-23 18:58] jkterry1 commented on #1083
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:58] #1083 closed

[2022-05-23 18:59] jkterry1 commented on #1068
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:59] #1068 closed

[2022-05-23 18:59] jkterry1 commented on #1022
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:59] #1022 closed

[2022-05-23 18:59] jkterry1 commented on #925
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:59] #925 closed

[2022-05-23 18:59] jkterry1 commented on #861
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:59] #861 closed

[2022-05-23 18:59] jkterry1 commented on #849
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:59] #849 closed

[2022-05-23 18:59] jkterry1 commented on #837
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:59] #837 closed

[2022-05-23 18:59] jkterry1 commented on #832
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:59] #832 closed

[2022-05-23 18:59] jkterry1 commented on #817
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:59] #817 closed

[2022-05-23 18:59] jkterry1 commented on #415
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 18:59] #415 closed

[2022-05-23 19:00] jkterry1 commented on #816
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 19:00] #816 closed

[2022-05-23 19:00] jkterry1 commented on #805
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 19:00] #805 closed

[2022-05-23 19:00] jkterry1 commented on #799
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 19:00] jkterry1 commented on #759
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 19:00] #759 closed

[2022-05-23 19:00] jkterry1 commented on #729
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 19:00] #729 closed

[2022-05-23 19:00] jkterry1 commented on #680
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 19:00] jkterry1 commented on #663
PR #2762 is about to be merged, introducing V4 MuJoCo environments using new bindings and a dramatically newer version of the engine. If this issue still persists with the V4 ones, please create a new issue for it.

[2022-05-23 19:00] #663 closed

[2022-05-23 19:01] jkterry1 commented on #599
I believe this has been fixed, please let me know if it hasn't been

[2022-05-23 19:02] jkterry1 commented on #2276
Everything is up on gymlibrary.ml now

[2022-05-23 19:02] #2276 closed

[2022-05-23 19:02] #2359 closed, assigned to nobody

[2022-05-23 19:03] jkterry1 commented on #1683
This has been merged into master as a flag to step

[2022-05-23 19:03] #1683 closed

[2022-05-23 19:03] #2283 closed

[2022-05-23 19:03] #2567 closed

[2022-05-23 19:04] jkterry1 commented on #2540
Closing in favor of https://github.com/openai/gym/pull/2671

[2022-05-23 19:04] #2540 closed

[2022-05-23 19:05] jkterry1 commented on #2820
Hey, I'm going to close this, please let us know if you need any more help

[2022-05-23 19:05] #2820 closed

[2022-05-23 19:06] jkterry1 commented on #2753
This should be fixed in master now, if it's not please let us know

[2022-05-23 19:06] #2753 closed

[2022-05-23 19:06] jkterry1 commented on #2407
There are deprecation warnings now, the environments aren't planned to be removed outright for the foreseeable future to ensure reproducibility.

[2022-05-23 19:06] #2407 closed

[2022-05-23 19:07] #2603 closed

[2022-05-23 19:07] jkterry1 commented on #2666
Hey, this should be fixed with the new release, please let us know if you have any issues

[2022-05-23 19:07] #2666 closed

[2022-05-23 19:08] #2824 closed

[2022-05-23 19:11] #2809 closed

[2022-05-23 19:12] #2620 closed

[2022-05-23 19:52] jkterry1 commented on #2828
I really don't think that enforcing a standard is a good idea. Different environments and learning code have different needs for a variety of good reasons here. Illegal actions are a bit different than just outside the bounds of observation spaces. Also an alarmingly large number of environments have ill defined bounds.

@RedTachyon

[2022-05-23 20:15] gianlucadecola commented on #2828
Got it; the idea come to my mind while writing tests and seeing that discrete envs raises different kinds of exceptions when dealing with out-of-action-space actions (however they all raise _an_ exception).
For continuous action-spaces this problem is not present since they perform clipping inside _step_.

[2022-05-23 21:30] RedTachyon commented on #2828
It kinda feels like the discussion is about a few different proposals to me, or I'm misreading the original post.

FWIW I think the proposal is fine in the scope that it describes - that is, introduce a specific type of an exception, and use it for environments where we're already doing out-of-bounds checking. All it really does is that it makes the error messages a bit clearer. It doesn't have to

[2022-05-24 04:28] wookayin commented on #1683
Are we sure we want to make a breaking change? This is **will break all** the previous codes that are using gym. I'm worried this is too harsh, and I suggest we keep the previous API. I still think there is a way to keep the previous behavior as a default one, but `env.reset()` would return a tuple *when configured so*.

[2022-05-24 08:25] RedTachyon commented on #1683
@wookayin My comment referred to what this will look like in the future, when we do intend to change the default API. In 0.xx, the defaults will remain the way they are right now. In 1.x, there are no such promises.

[2022-05-24 16:00] RedTachyon commented on #2825
So I'm not actually sure what the industry standard is of doing this, but the way I'd envision it is:
- Branch "stable" for the latest release (and the default build target for the website)
- Branch "master" for incremental updates (and maybe as a build target under a subdomain or under a specific path, so that we can access it, but it's not the default that people see)
- When we update the main l

[2022-05-26 01:52] bentotten opened #2840 "[Bug Report] Unable to serialize environment"
In version 0.24.0, the RadSearch environment listed below throws a TypeError for trying to pickle a SwigPyObject, however it executes correctly in version 0.20.0. This is particularly a problem when multithreading using the multiprocessing library, however it can be reproduced by directly pickling also.

Environment: https://github.com/peproctor/radiation_ppo/tree/main/gym_rad_search

**Code examp

[2022-05-26 11:06] pseudo-rnd-thoughts commented on #2840
Running this code on a macbook, python 3.9 then I have no issues running your example script above.
Are you sure that you are running on gym v0.24.0 as that release is not on pypi, as of this comment.

Could you help narrow down what particular object, joblib or multiprocessing are struggling to pickle?
I suspect that the issue is originating from the visibility module used as this seems to have b

[2022-05-26 19:12] bentotten commented on #2840
Interestingly, this issue appears to be stemming from using Python 3.7

For posterity, Gym 0.24.0 was installed from a .zip with pip, to resolve the `Re-added gym.make("MODULE:ENV") import style that was accidentally removed in v0.22 @arjun-kg` bug in post-0.21.0 versions and multiprocessing in test_policy.py was where the pickling issue was appearing (most likely due to the visibility module, as

[2022-05-26 19:23] bentotten commented on #2840
Accidental issue close with a finger slip, apologies -
With a fresh ubuntu install and setup, retried with Python 3.9, unfortunately still encountering the issue with both the pickle test code and with the test_policy.py code from project. When gym is rolled back to v0.20.0, both execute successfully; definitely believe it is the visibility module in the custom env you mentioned, though I'm unsure

[2022-05-27 06:06] arjun-kg commented on #2840
I can reproduce the issue for this env. But I am able to use `joblib.dump` for other environments through `gym.make("MODULE:ENV")` so, there's no problem there. I assume @pseudo-rnd-thoughts is right and the issue is from the `visibility` package.

[2022-05-27 23:23] trigaten opened #2845 "[Bug Report] Ant docstring observation space table broken"
See the webpage: https://www.gymlibrary.ml/environments/mujoco/ant/

The md in the gym docstring must be fixed.

[2022-05-28 09:08] pseudo-rnd-thoughts commented on #2845
Thanks, I will fix it

[2022-05-28 16:15] RishiKasam opened #2847 "Issue regarding AttributeError: module 'gym' has no attribute 'GoalEnv'"
Hello guys, I am trying to build a custom environment in openai gym format. I built my env and wanted to make sure that it is compatible with the gym format, so used the check_env() to do so. And the image shows the error that I faced. My gym version is 0.21.0. I think i shouldnt be facing this issue according the solutions that I've searched so far. It would be great if someone can help me with t

[2022-05-29 21:19] araffin opened #2848 "[Bug Report] Breaking changes not mentioned in gym 0.24 release notes"
Using pretrained agent from the RL Zoo (checking )

**Describe the bug**
First issue is that `LunarLander` observation space was changed without any version bump, this leads to:
[code]
when trying to load pretrained model.

And in fact now breaks one of the largest collection of pre-trained models (600+ agents): https://huggingface.co/spaces/chrisjay/Deep-Reinforcement-Learning-Leaderboard

but an

[2022-05-29 21:44] araffin opened #2849 "[Question] How to suppress Custom namespace `ALE` is being overridden by namespace `ALE` warning?"
### Question

Installing gym and then ale-py (easiest is to do that in a colab), `import gym` throws a warning:

[code]
how to get rid of it?

(does not seem normal that basic install of gym throws a warning)
gym 0.24
ale-py 0.7.5

[2022-05-29 22:43] RedTachyon commented on #2849
That's an error of the recent registration revamp, my bad.

I fixed the problem in #2850, hopefully we'll put it in like a 0.24.1 release.

There's also the underlying reason why the gym import is affected just by having ale-py installed. A few releases ago, we added a plugin system that simplifies some use-cases when using/developing external libraries that are meant to interface with gym. While

[2022-05-30 04:12] jkterry1 commented on #2847
Gym removed GoalEnv many releases ago. SB3 is still using a very old version of Gym, the PR to bump it is here: https://github.com/DLR-RM/stable-baselines3/pull/780

[2022-05-30 04:12] #2847 closed

[2022-05-30 09:47] pseudo-rnd-thoughts commented on #2848
Thanks for spotting that.
We will add to the release notes that the observation space of `LunarLander` and `BipedalWalker` has been updated to not use infinities in the observation space
For your second issue, PR will fix this bug.
Not sure on the release timetable, maybe in a week or so, this PR will be on the stable branch for all critical bug fixes related to v0.24 if you want to test with that

[2022-05-30 14:38] #2849 closed

[2022-05-30 14:46] jkterry1 commented on #2848
Fixed

[2022-05-30 14:46] #2848 closed

[2022-05-30 15:05] SteliosNtua opened #2852 "[Question] What are the true values of lateral and longitudinal frictional forces? (CarRacing)"
### Question

Hello everyone,

I am running some simulations on the **CarRacing** environment and collecting some demonstrations. I have searched through the _car_dynamics.py_ and specificaly on the _step_ method there is a part of code that calculates the forces to apply to the car body. It is closely related to the _FRICTION_LIMIT_ parameter.
My goal is to collect for every step of the simulatio

[2022-05-30 16:12] pseudo-rnd-thoughts commented on #2852
Personally, I would do experimentations using gym in editable mode (`pip install -e .`) commenting out particular code to see the effect on the car.
You can probably do this with the `play` function in gym.utils to visualise the changes that you are making.
Personally, to extract this information, I would add it to the `info` returned by the environment in the `step` function.
This should allow yo

[2022-05-30 16:26] SteliosNtua commented on #2852
@pseudo-rnd-thoughts Thank you so much for you response and your valuable advises! I will try it for sure
My question is more like to understand which of the variables above represent the forces:
For example **p_force** and **f_force** are the lateral and longitudinal? and it's for each wheel or the body?
Is there another pair of variables that represent them better?
Thanks again!

[2022-05-30 23:15] pseudo-rnd-thoughts commented on #2852
Im not an engineering student so I don't totally get the maths.
On line 189 and 190, the comment seems to suggest that `vf` and `vs` are the forward and side speed respectively.
Which are modified to compute the final `p_force` and `f_force` that are applied to the car

Sadly, the car racing environment is probably 5+ years old and the author no longer works on the project to understand their reas

[2022-05-31 00:45] jjshoots commented on #2852
Hi @SteliosNtua, first of all, _really_ cool project and use case, I'd be interested to see what you come up with down the line! As to your question, the carracing environment actually uses some simple assumptions to measure the forces that should be acted on each wheel, I'll walk through the logic as follows:

1. In line 167 we can see that the forces on each wheel is calculated individually.
2.

[2022-05-31 10:24] SteliosNtua commented on #2852
Hey @pseudo-rnd-thoughts Thank you for all the information and the time you dedicated to help me!
@jjshoots WOW! Really helpful walkthrough! Clear and explanatory! I appreciate your efforts, it helps me a lot!

[2022-06-01 18:08] Denys88 opened #2855 "[GymAPI Question] why new render api was introduced?"
### Question
Previously I was able to use same config with env configuration to create environment and then render it when I want to.
Now I need to pass render_mode to the constructor.
It is very inconvenient right now because I need to have different configuration setup for training and testing.
I don't any good reason why this parameter should be passed to the constructor. I am not even talking

[2022-06-01 19:40] younik commented on #2855
Hello @Denys88,

All the reasons can be found in these discussions: https://github.com/openai/gym/issues/2540 https://github.com/openai/gym/pull/2671

TL;DR
The new render API was introduced because some environments don't allow to change the render mode on the fly and/or they want to know the render mode at initialization and/or they can return rendering results only at the end of the episode.

I

[2022-06-01 20:41] younik commented on #2855
Can you provide a use case when `enable_render()` is more convenient?
Thanks, your comments are helpful for doing the right implementation choice

[2022-06-01 20:52] Denys88 commented on #2855
one of the examples:
Imaging I have my own vectorized env wrapper. Now I pass env name + additional parameters and it calls gym.make with same parameters in each process. If I want to enable rendering for onyl one env I need to have pretty hacky code wich changes config for one env and doesn't change for other.
Second one is similar to first: some envs have different parameters in make which impac

[2022-06-01 23:14] pseudo-rnd-thoughts opened #2856 "[Bug Report / Proposal] env.seed doesn't work and no method to get a new RNG"
Edit: `env.seed` is working, I just discovered a bug with wrappers and `_np_random`, see #2857 for the fix.

`env.seed(None)` doesn't work
[code]
The problem is that `env.seed` doesn't actually seem the set the seed of the environment even if this is a value not `None`
The reason for this is unclear, I believe it could be because of it be a class attribute not an object attribute but this is some

[2022-06-02 08:42] younik commented on #2855
In these examples, you will be able to use the single rendering mode, and everything will be as before. For example, you can pass _single_rgb_array_ to the vectorized environments and then call `render()` on one of them only.

The real limitation of this new API is that it doesn't _natively_ support render mode changing on the fly. For the rest, this will remain pretty general, we allow the differ

[2022-06-02 12:07] #2845 closed

[2022-06-02 18:22] #2825 closed

[2022-06-03 03:18] DarkLord0206 commented on #2823
Created PR #2859 for this.

[2022-06-03 13:54] Arckonte opened #2860 "[Bug Report] Mujoco environment : Render Window Crashes upon pressing a key"
When rendering a mujoco environment I can move the camera using the mouse, but the render window crashes when I press any key.
I also have to manualy call glfw.terminate() to close the window when I'm done using the environment, weither it has crashed or not.
Is it a bug, or am I supposed to pass arguments on the env.render() methods ? I saw no mention of it on the documentation.

[code]

Here his

[2022-06-03 21:15] #2855 closed

[2022-06-04 01:05] rodrigodelazcano commented on #2860
Hi @Arckonte thanks for bringing this up. I made this PR  https://github.com/openai/gym/pull/2861 that fixes the key error. I wasn't able to replicate the closing window issue but might have fixed it by calling the glfw.terminate() when the environment is done.
Could you please try the code on this PR on your end?
These fixes will be included in the next Gym release v24.1 or they can be install di

[2022-06-04 01:41] zbeucler2018 commented on #2768
I found the source of the error for future reference. My code was basically creating an environment and closing it very very fast. Hope this helps someone in the future!

[code]

[2022-06-04 05:43] yannbouteiller opened #2862 "[Bug Report] Auto-reset on Env instantiation is backward-incompatible"
**Describe the bug**
The Env class now calls reset by default on instantitation, which breaks a useful behavior.

**Additional context**

Hello. Recently I had to deal with many breaking changes with Gym introducing bugs in my libraries. I could deal with most of them but I am not sure what to do about this one.

I maintain rtgym, a library helping people create Gym environments for robots in the

[2022-06-04 05:56] yannbouteiller commented on #2862
Closing as there is a workaround described in the release notes (disable the checker on Gym.make)

[2022-06-04 05:56] #2862 closed

[2022-06-04 18:37] #2860 closed

[2022-06-05 08:18] 2359181042 opened #2863 "gym import error"
If you are submitting a bug report, please fill in the following details and use the tag [bug].

**Describe the bug**
AttributeError: partially initialized module 'gym' has no attribute 'core' (most likely due to a circular import)

**Code example**
import gym
env = gym.make("CartPole-v1")
observation, info = env.reset(seed=42, return_info=True)

**System Info**
AttributeError

[2022-06-05 12:26] pseudo-rnd-thoughts commented on #2863
I'm not able to replicate your issue on the latest version
Could you tell us what OS, python version, gym version you are using?

[2022-06-05 12:30] pseudo-rnd-thoughts commented on #2862
Thanks for the issue and fixing it yourself
We have realised that the environment check is causing more issues than will fix so in the next release, hopefully, v24.1 then environment check will be modified to not cause this issue.
See https://github.com/openai/gym/pull/2864 for the updated version

[2022-06-05 14:30] pseudo-rnd-thoughts opened #2866 "[Proposal] Upgrade the frozen lake environment"
The frozen lake environment has the capability to generate environments of any size
I propose that we upgrade the environment to enable this feature for users
1. generate random maps of any size (0>), currently they can only be 8x8
2. generate random maps with a seed to allow determinism
3. on reset generate a new random map
4. update documentation on providing your own map description (desc does

[2022-06-05 15:18] pseudo-rnd-thoughts commented on #2768
@zbeucler2018 Im not able to replicate your issue on mac, 3.9 and v24
[code]

What OS, python version and gym version are you using?

[2022-06-06 11:32] AhmedTechOffical commented on #2825
Hi, I got a similar problem but instead, its saying that I need to put render_mode = human and I did, yet its telling me I need to do that, Any help please?
![image](https://user-images.githubusercontent.com/41643485/172152701-6c4c6664-7702-4109-980a-54069a7fd759.png)

[2022-06-08 16:02] RedTachyon commented on #2856
For the record, in case someone stumbles upon this - it was more or less a false alarm, `env.seed` does what it's supposed to do, it's just that a few parts of attribute forwarding through wrappers were unintuitive, so it kinda looked like it didn't work if you squint in just the right way.

I think this can be closed? To avoid confusion, and the underlying issue has been fixed

[2022-06-08 16:58] pseudo-rnd-thoughts commented on #2856
@RedTachyon is correct, this was not a bug in `seed` but rather an issue with gym wrappers that would not pass `_np_random` to the actual wrapper which has been fixed in v24.1.

[2022-06-08 16:58] #2856 closed

[2022-06-10 07:22] ankshith commented on #2779
Yes, it works when you downgrade the version.

[2022-06-10 07:38] Arckonte commented on #2860
Thanks for your help @rodrigodelazcano ! This indeed fixes the issue.
I didn't find out how to install the PR#2861, so I waited for the 24.1 release instead.

[2022-06-10 09:38] Trezorro opened #2876 "[Bug] Numpy raises TypeError in passive_env_checker"
The observation that needs to be returned by env.step() needs to be of the standard dict type. In the code line linked below, this object is checked for nan's in an invalid way :
https://github.com/openai/gym/commit/134de4a713079053fd6d2277adf2ed4326e9856b#r75779776

This line causes numpy to raise a TypeError that is not caught:
[code]

[2022-06-10 10:00] pseudo-rnd-thoughts commented on #2876
Thanks for the issue @Trezorro, we can't replicate your issue.
Could you provide the code you used to cause the issue

[code]

[2022-06-10 13:33] ttran2 opened #2878 "[Bug Report] Environment Step Check doesn't allow NumPy integer rewards."
**Describe the bug**
Some environments return the rewards in the form of a _NumPy integer_ (ex. `np.int32`).  However, the _passive environment step check_ doesn't allow NumPy integer rewards, as it allows only Python built-in `float` & `int` datatypes and `np.float32`.

**Reproducing Bug**
To reproduce the issue, create an environment where the `step()` would return `rewards` in NumPy integer dat

[2022-06-10 14:59] pseudo-rnd-thoughts commented on #2878
Thanks for the PR, yes, you are right that `np.integers` should be allowed

[2022-06-10 15:10] #2878 closed

[2022-06-10 23:09] BlueskyFR opened #2881 "[Question] Website documentation not matching latest version"
### Question

Hi! The gym website, in the env creation section, shows this line:

[code]

However, this is an unreleased feature which is not yet available in the latest (0.24.1) version so it is not really possible to follow along correctly.
Is there something I am missing? I did not find the option to view the documentation in a specific version btw.

Thanks in advance!

[2022-06-11 08:48] DDDOH commented on #2825
Before the released package can catch up with the current document, any instructions on how to use the old render API? Or when will a new package will get published to match the current document?

[2022-06-11 09:10] younik commented on #2825
Hello, if you want to use the old API and you don't know how it works, you can follow old tutorials, like [this one](https://blog.paperspace.com/getting-started-with-openai-gym/)

[2022-06-11 16:01] DDDOH commented on #2825
Thanks a lot, that's a good one! Looking forward to the brand new API anyway!

[2022-06-11 21:06] RedTachyon commented on #2876
My understanding of the issue is that the line `if np.any(np.isnan(obs)):` in the env checker assumes that the observation is a numpy array, while it could be... anything pretty much, including a dictionary under the built-in Dict space.

[2022-06-12 06:44] ikostrikov commented on #2876
I'm experiencing the same issue with environments converted from dm_control that have `Dict` observation space.

[2022-06-12 10:05] DDDOH opened #2883 "[Bug Report] AsyncVectorEnv gets TypeError"
When initializing a self-defined environment using AsyncVectorEnv,
[code]
gets the following error:
[code]

**System Info**
Describe the characteristic of your environment:
 * Describe how Gym was installed: pip install gym (0.24.1)
 * OS: MacOS 12.4
 * Python version: Python 3.10.4

I'll upload the environment definition code if necessary.

[2022-06-12 10:36] pseudo-rnd-thoughts commented on #2876
@ikostrikov Thanks, I have fixed this bug in #2873

[2022-06-12 11:50] younik commented on #2881
Hello,
we are aware of this issue (https://github.com/openai/gym/issues/2825); hopefully, the documentation in the future will include versioning (https://github.com/Farama-Foundation/gym-docs/issues/139)

The documentation on the gym website is now referring to the source; thus those codes will work if you install gym from source
Sorry for the confusion!

[2022-06-12 13:59] BlueskyFR commented on #2825
May I ask why this issue was closed? The case where someone uses an other version than the master branch (so more than 99% of the cases) is still not handled AFAIK

[2022-06-12 14:04] arjun-kg commented on #2883
It's likely a problem in the environment definition. When you use `AsyncVectorEnv` the environment gets serialized with `cloudpickle` and gets sent to another process and there seems to be a problem during serialization. I'm not sure what exactly could be wrong. Posting the environment definition would be helpful.

[2022-06-12 16:03] DDDOH commented on #2825
It's mainly caused by document and code unmatching. be a little bit patient bro.

[2022-06-12 16:17] DDDOH commented on #2883
I *partially* solved the issue with the help of the comment https://github.com/openai/gym/issues/2883#issuecomment-1153180165, by moving the call of `AsyncVectorEnv` method to a separate file. Below are the details.

This is my environment definition.
[code]

Initially, I used `AsyncVectorEnv` in a rather long piece of code, which does A LOT of staff (and may contain some unpickable objects) then

[2022-06-12 19:42] arjun-kg commented on #2883
Could you provide more context for the long piece of code you mention? Source code would be great but if not, some information that would help us reproduce this.

[2022-06-13 06:56] DDDOH commented on #2883
I'll provide a minimal set of code that can reproduce this error later.

[2022-06-13 09:18] pseudo-rnd-thoughts commented on #2876
@Trezorro and @ikostrikov Would both of you be able to run this PR with your environments to check that the error doesn't happen anymore https://github.com/openai/gym/pull/2873

[2022-06-13 09:19] pseudo-rnd-thoughts commented on #2878
@ttran2 During testing, I realised that your PR didn't actually fix the issue. Could you test my PR here, it fixes some additional stuff and I just want to check it hasn't caused more https://github.com/openai/gym/pull/2873

[2022-06-13 09:20] pseudo-rnd-thoughts commented on #2866
#2877 has looked at this pr and made some of the suggested changes. Therefore closing this pr

[2022-06-13 09:20] #2866 closed

[2022-06-13 11:08] qgallouedec opened #2885 "[Bug Report] Undue UserWarning: We recommend you to use a symmetric and normalized Box action space (range=[-1, 1])"
It seems like there is an inversion in the `gym.utils.env_checker.check_env` function: observation space is checked with `check_action_space`

https://github.com/openai/gym/blob/053ee809324861dc1bec19feee97b47ba1557a94/gym/utils/env_checker.py#L237

and action space is checked with `check_observation_space`

https://github.com/openai/gym/blob/053ee809324861dc1bec19feee97b47ba1557a94/gym/utils/env_

[2022-06-13 11:14] pseudo-rnd-thoughts commented on #2885
Wow, thanks for spotting that. That is impressive that I messed that up. As I have done a number of upgrades / bug fixes to the environment checker, then I have added it to that PR https://github.com/openai/gym/pull/2873

[2022-06-13 11:18] pseudo-rnd-thoughts commented on #2885
@qgallouedec Would you be able to close your PR for this #2886 and clone my PR to check that it runs against your environments to make sure it doesn't raise any incorrect error?

[2022-06-13 11:30] qgallouedec commented on #2885
Fixed in cdeedd8e3ba454c48af2760bc26b70866e2d7141

[2022-06-14 04:23] Markus28 commented on #2881
Please check out https://github.com/Farama-Foundation/gym-examples for the environment code that works with the current gym version.

[2022-06-14 09:43] wookayin opened #2889 "[Bug] env.render() giving no/wrong results"
**Describe the bug**

After the merge of new render API #2671 which is not stable yet, `env.render()` giving no results when it is called more than once. Also the rendering result is not correct in terms of type and shape. Please see the example below.

**Code example**
[code]

I see three problems here:

* `im` contains a **python list** of [480x480x3] ndarray: `im[0].shape == (480, 480, 3)`. In

[2022-06-14 11:25] younik commented on #2889
Hello,

This is done on purpose; with the new render API, the method `render` returns a collection of frames. You can do some steps without calling render to see this.

When you use the new render API, those arguments should be passed to `__init__`. Tho, you are right, they are still not implemented in `__init__`; I will push a fix soon, thanks for spotting it.
The legacy code still works with dim

[2022-06-14 18:19] wookayin commented on #2889
Since this is not a bug as per #2671, I will close this issue. Let me move and continue my argument to #2671 to centralize the discussion.

[2022-06-14 18:19] #2889 closed, assigned to nobody

[2022-06-14 19:38] JesseFarebro opened #2892 "[Bug Report] Gym environment compliance API makes false seeding assumption"
If you are submitting a bug report, please fill in the following details and use the tag [bug].

**Describe the bug**
When you run the Gym compliance check it assumes that `.reset()` will alter the state of `np_random`. If it doesn't it fails the check here: https://github.com/openai/gym/blob/053ee809324861dc1bec19feee97b47ba1557a94/gym/utils/env_checker.py#L79-L86

**Code example**
Please try to

[2022-06-14 20:13] pseudo-rnd-thoughts commented on #2892
That shouldn't pass the environment checker as the seed parameter is ignored.
We assume a minimal environment should look like
[code]

Why do you think the seed parameter should be ignored?

[2022-06-15 00:05] RedTachyon commented on #2892
Unless I'm confusing something, this is something we already discussed @pseudo-rnd-thoughts, right? It's currently being fixed in #2873.

@JesseFarebro I'm not sure to what extent you wanted to "not-complete-code" your example, but the key part it's missing here is the `super()` call in `reset`. You're also right that the current env checker will erroneously raise an exception for a minimal implem

[2022-06-15 02:46] JesseFarebro commented on #2892
Here, I'll provide a complete example this time. Sorry, I didn't have time earlier so I just wrote that to give you an idea.

[code]

The problem right now is that if you don't use `np_random` it doesn't matter if you call super correctly or not that assert will fail because it assumes that you'll generate a new RNG state when calling `reset(seed=None)`. This isn't true for the ALE and I'm sure is

[2022-06-15 09:23] pseudo-rnd-thoughts commented on #2892
@JesseFarebro You are correct, this was a bug introduced in `v24.1` that has been patched in #2873
However, we don't believe that we will be releasing a `v25`. We will be adding a note to the release notes for `v24.1` but due to the number of issues with `v24.x` I would skip it

[2022-06-15 23:28] IanQS opened #2895 "[Question] Custom environment where states are fed in from database?"
### Question

I currently have a custom environment that loosely obeys the gym API. I have an environment wherein the state at any given time is data that was collected e.g price of electricity, supply, etc. All of this would be polled in from the database via a connection. The logic of my custom env looks a little like this:

[code]

How would I best accomplish integrating in the database? Is it

[2022-06-16 12:59] pseudo-rnd-thoughts commented on #2895
Hi, interesting question, yes this looks like the correct way of doing, however, your dataset will most likely need to contain all of the possible states that the agent could encounter

[2022-06-17 09:15] RedTachyon commented on #2895
Opening the DB connection in `__init__` and then using it in `reset` and/or `step` should work exactly how you want. Just make sure you have logic to close the connection on `env.close()`, and other than that you just need to follow the general gym API and there shouldn't be any problems

[2022-06-17 12:52] younik opened #2905 "[Proposal] Switch to MoviePy for RecordVideo"
### Proposal

Remove `VideoRecorder` and use MoviePy for `RecordVideo` wrapper.

### Motivation

Right now, the `VideoRecorder` code is a bit messy and difficult to maintain. There are external libraries, such as `MoviePy` to which we can delegate the workflow to save a video starting from frames.

See also https://github.com/openai/gym/pull/2894

### Alternatives

Leave the code as it is.

[2022-06-17 16:36] BinHuangScut opened #2907 "[Question] flatten function"
observation_space_dic = spaces.Dict(
        {"t": Discrete(4),
        "install_price": Box(low=0, high=1, shape=()),
        "ChEff": Box(low=0, high=1.0, shape=()),
        "DisEff": Box(low=0, high=1.0, shape=()),
        "RESmax": Box(low=0, high=1.0, shape=()),
        "RESmin": Box(low=0, high=1.0, shape=()),
        "RESmean": Box(low=0, high=1.0, shape=()),
        "lrmax": Box(low=0, hig

[2022-06-17 16:42] BinHuangScut commented on #2907
I think I should use
obs = gym.spaces.utils.flatten(observation_space_dic , obs_dic) instead.

[2022-06-17 16:42] #2907 closed

[2022-06-19 08:31] JonathanLehner commented on #468
after running nvidia-xconfig you need to reboot or reload the config

[2022-06-19 20:52] #2885 closed

[2022-06-20 12:00] RedTachyon opened #2912 "[Proposal] Add an environment showcasing the Graph space"
With #2869, we added the Graph spaces (mainly for observation spaces I'd imagine), but at the moment I'd say their support is purely theoretical. The code exists, compiles, and even passes some tests, but it's not actually used anywhere.

While we're pretty careful about adding new envs, I do think it would be valuable to add an example env that actually uses this code.

NB: the same would apply i

[2022-06-20 13:30] pseudo-rnd-thoughts commented on #2912
I agree, this could be done as a tutorial rather than without gym itself
@jjshoots Thoughts on an environment using the `graph` space

[2022-06-20 21:25] swagatk commented on #879
On the ssh client terminal use fake screen to remove the glfw error.

`$ xvfb-run -a -s "-screen 0 1400x900x24" python dmc_test.py
`

`dmc_test.py` uses mujoco environment and hence throws up GLFW initialization error when accessed through SSH.  The above command solves this error.

if the package `xvfb` is not installed, use the following command to install:
`sudo apt install xvfb`

[2022-06-20 23:39] jjshoots commented on #2912
@pseudo-rnd-thoughts @RedTachyon Sure, we could add this, there are actually a ton of environments that can benefit from graph spaces, and I'm actually using them in an upcoming version of [a drone sim for RL](https://github.com/jjshoots/PyFlyt) as well.

That said, a problem with having tutorials for this is that graph spaces are not currently supported in any of the big RL libraries, so it'd pro

[2022-06-21 15:05] Shivam310 opened #2914 "[Question] Assertion error, cant use cnn policy with atari breaout open gym ai"
### Question

Hi,

I was making my atari breakout model when I was trying to use the cnn policy but I get this:

[code]

Here is my code:

[code]

[2022-06-21 16:05] RedTachyon commented on #2914
That's not a gym issue, you should check the documentation/usage guide. Also, it's likely that you're using an outdated version of gym and atari, since current atari envs (which are also not a part of this repository, but instead https://github.com/mgbellemare/Arcade-Learning-Environment) are `v4`

I'd also suggest trying to do what the error message is telling you to do.

[2022-06-22 17:04] Radagaisus opened #2916 "[Proposal] Allow 3rd-party environments to suppress warnings"
### Proposal

A way for environment developers to suppress warnings, either globally or on a per-type basis.

### Motivation

I’m developing a simple environment that receives some well-intentioned but totally wrong for my use case warnings (“WARN: Agent's maximum action space value is infinity”, “We recommend you to use a symmetric and normalized Box action space”). Nothing for me to do to resolv

[2022-06-22 19:27] BlueskyFR commented on #2876
@pseudo-rnd-thoughts your PR was closed and I don't see the one fixing this issue anymore, which one is it now?

[2022-06-22 21:43] BlueskyFR opened #2917 "Passive env checker reads shape wrongly"
Hi! Thanks for reading ;)

The documentation shows many examples of **Box** being used with `shape=()`, e.g. `spaces.Box(-1, 1, shape=(), dtype=np.float32)`.

## Problem

- `len(spaces.Box(-1, 1, shape=(), dtype=np.float32).shape)` returns 0
- `len(spaces.Box(-1, 1, shape=(1,), dtype=np.float32).shape)` returns 1

The passive env checker shows an error if shape length is zero : https://github.com/

[2022-06-22 22:24] BlueskyFR opened #2918 "[Bug Report] VSCode PyLance stubs are outdated/incorrect"
Hi!

VSCode's PyLance (Python language server) extension contains some builtin stubs, with a "gym-stubs" dir that contains the following line for instance:

[code]

It is of course wrong since `metadata` can contain `render_fps` with is of type **int**.

Who/where are those stubs managed? They should be updated since VSCode reports errors in code analysis in the meantime.

[2022-06-22 22:28] BlueskyFR commented on #2916
I am just beginning to use the library but AFAIK, in the meantime, you can `disable_env_checker=True` in `gym.make()`

[2022-06-22 23:20] balisujohn opened #2919 "[Bug Report] Small bug in blackjack rendering"
**Describe the bug**
There is a bug in blackjack rendering where the suit of the displayed card from the dealer is re-randomized on each call to render, and if the dealer's displayed card is a face card, the face card is re-randomized on each call to render. The underlying data structure represents each face card as 10, which means that render has to make up which face card the dealer has drawn. I

[2022-06-22 23:22] RedTachyon commented on #2917
The env checker doesn't raise an error, it raises a warning. Basically saying "Hey, you're doing something non-standard, just make sure you know what you're doing and move along". A zero-dimensional array is technically possible in the `Box` space, but definitely qualifies as something "weird" and you probably don't want to use it unless you know what you're doing.

And I don't see how `Dict` spac

[2022-06-22 23:33] RedTachyon commented on #2916
That's a good point, we had some discussions about some sort of a global disable option of the env checker, but it fell through the cracks since we solved its main issue in a different way.

It might make sense to just make `disable_env_checker` to be a part of the environment spec. Then you can manually disable it as an env developer, and it can be reenabled by end-users in `make`.

BTW an easy w

[2022-06-23 09:20] pseudo-rnd-thoughts commented on #2917
@RedTachyon I think the reason for the `Dict` comment is that the `observation_space` check is done recursively for `Tuple` and `Dict` spaces.
@BlueskyFR The reason for 1d vectors is that if you are using an environment with a neural network, they normally expect 1d vectors for dense layers or 3d tensors for convolutional layers. While 0d vectors are nicer to look at and sometimes work with, we do

[2022-06-23 09:22] pseudo-rnd-thoughts commented on #2916
@Radagaisus FYI, the environment checker is going to have a major bug fix the next version (v25) as it currently has a number of significant issues. This is the new PR, https://github.com/openai/gym/pull/2903

[2022-06-23 11:45] BlueskyFR commented on #2918
Well, maintaining stubs in another non-openai repo seems like a really bad idea, maybe they should just remove them and let you type your stuff

[2022-06-23 15:57] pseudo-rnd-thoughts commented on #2918
Given that we (the volunteer dev group) have only been doing this for about a year then I suspect that the stub was created when there were no type hints in the project

[2022-06-23 22:18] BlueskyFR commented on #2918
Is Gym a project you contribute to on your free time or are you "assigned" to it? Just curious 😉

[2022-06-23 22:22] BlueskyFR commented on #2917
I mean that I want to use a Dict to make it easier to read properties by hand.
I would of course convert the Dict to a 1D array but just before fedding the NN with it.
The idea as that the 1D array doesn't HAVE to be created in Gym as this is pretty hard to read by a human

[2022-06-23 22:24] pseudo-rnd-thoughts commented on #2917
This is a warning so you can just ignore it but personally, I think that is a really weak reason for worse performance (having to expand dims before passing to NN)

[2022-06-23 22:25] pseudo-rnd-thoughts commented on #2918
Join the discord (https://discord.gg/nHg2JRN489) and we ask for developers to help with stuff when problems occur

[2022-06-23 23:36] RedTachyon commented on #2918
@BlueskyFR

Also for posterity, none of us are affiliated with OpenAI, I feel like this might be a misunderstanding. We're not assigned to it because there's nobody who'd be able to assign us anywhere

[2022-06-24 06:47] BlueskyFR commented on #2918
Thanks! I though OpenAI was actually maintaining this ;)

[2022-06-24 12:01] CooKySch opened #2924 "[Bug Report] Pygame opening windows with render_mode=rgb_array in Lunar Lander environment"
If you are submitting a bug report, please fill in the following details and use the tag [bug].

**Describe the bug**
I'm using the environment LunarLander-v2, continuous. I want to save the images made by env.render(), but not necessarily check them, so I used rgb-array as rendering option. Yet, pygame windows keep popping up when I use this.

**Code example**
            if render:

[2022-06-24 13:50] pseudo-rnd-thoughts commented on #2924
Thanks for the bug report, I can confirm that on 0.24.0 that this is an issue with
[code]
However, https://github.com/openai/gym/pull/2671 has seemed to have fixed this bug which will be released in v0.25

[2022-06-24 13:59] #2919 closed

[2022-06-26 09:07] Shivam310 commented on #2914
Hi, firstly thx for the response and I am sorry for my late reply but I tried what u said but I still get the same error. I also tried using mlp policy to make the model but when I test it the platform that moves just goes to right and stops and nothing happens then. Please help, thx

[2022-06-27 19:43] BlueskyFR commented on #2917
okay, thanks for the informations!
So may I ask what the typical use case for the Dict is?

[2022-06-27 21:09] promiseve commented on #2246
well i just faced the same issue

[2022-06-27 23:00] yawen-d opened #2932 "[Question] Inconsistent descriptions in `half_cheetah_v4.py`"
### Question

It seems to me that the description for the **first** two dimensions of HalfCheetah's observation space aren't clear.

Specifically, in the first table in its observation space, it's said that observation[1] represents "y-coordinate of the center of mass", but in the second table, it's said that that same dimension represents "y-coordinate of the front tip".

- First table:
https://g

[2022-06-28 02:53] ikostrikov commented on #2876
@pseudo-rnd-thoughts  Sorry for the delay, yes, the fix works for me. Thanks a lot!

[2022-06-28 08:04] pseudo-rnd-thoughts commented on #2917
Personally, I haven't use them in research but they are functionally the same as `Tuple` for lot of problem. So if you have multiple action spaces. For example, we you have a robot, where you have a "left arm" you may have that as a subspace in a `Dict`

[2022-06-28 12:32] RedTachyon commented on #2917
No, that test is only for box spaces.

I think this issue can be closed, there's no problem to fix

[2022-06-28 15:08] #2917 closed

[2022-06-28 18:18] honglu2875 opened #2933 "Envirionment with Dict observation space cannot pass passive_env_checker"
Hi there, first time submitting a potential bug and hopefully I'm not being stupid about anything. I'm trying to write an environment following this tutorial: https://www.gymlibrary.ml/content/environment_creation/

My custom environment also has a Dict observation space but my environment cannot pass `passive_env_checker.py`, specifically this line:
https://github.com/openai/gym/blob/0dba07204622

[2022-06-28 18:43] honglu2875 commented on #2933
Oops sorry! This duplicates https://github.com/openai/gym/issues/2876.
But the problem doesn't seem to be fixed though. [This](https://github.com/openai/gym/pull/2882) would have fixed it but was closed. I think we can just recursively check isnan and isinf instead of changing the parameter though.

[2022-06-28 18:48] honglu2875 commented on #2933
Oops sorry! This duplicates https://github.com/openai/gym/issues/2876.
This PR indeed fixes it https://github.com/openai/gym/pull/2903

[2022-06-28 18:48] #2933 closed

[2022-06-28 20:04] Balssh opened #2934 "[Bug Report] Render window hangs"
If you are submitting a bug report, please fill in the following details and use the tag [bug].

**Describe the bug**
On WSL using Ubuntu 20.04, VSCode with JupyterNotebooks, the render windows hangs and I can't close it unless I use xkill. The minimize/maximize buttons on the window works, the close button doesn't.

**Code example**
import os
import gym
from stable_baselines3 import A2C
from stab

[2022-06-28 23:47] BlueskyFR commented on #2917
@pseudo-rnd-thoughts completing my last comment above, the recommended usage of a 1D vector does not mix well with the fact that observations can be converted to flat arrays using a wrapper.
On top of that, for example I am currently representing wind data as a `(182, 360)` shape, which throws a warning.

I am just suggesting that maybe too much assumptions are made in this passive env checker abo

[2022-06-28 23:58] bschnurr commented on #2918
https://github.com/openai/gym/blob/0dba07204622b354a1b440ad71fe2660d62674fa/gym/core.py#L106

Not sure what the type of metadata should be, but it should still have a typeAnnoation
something like:
` metadata: Dict[str, List[str|float]] = {"render_modes": []} `

or
`metadata: Dict[str, List[Any]]  = {"render_modes": []} `

[2022-06-29 00:08] bschnurr commented on #2918
also there is a way to test of type completeness on your public api using pyright
[code]
Results:

Symbols exported by "gym": 1371
  With known type: 324
  With ambiguous type: 196
  With unknown type: 851
  Functions without docstring: 283
  Functions without default param: 329
  Classes without docstring: 25

Other symbols referenced but not exported by "gym": 880
  With known type: 805
  With a

[2022-06-29 09:09] pseudo-rnd-thoughts commented on #2917
Agreed but this is primarily a warning not an error so you can ignore it. This is a recommendation due to the architecture of neural networks, without pre-processing you would not be able to pass your observation straight to the NN.

[2022-06-29 09:14] pseudo-rnd-thoughts commented on #2918
@bschnurr Thanks for the suggestion, I wasn't aware of the `--verifytypes` argument, that is very helpful
Complete type hinting is a plan for the project but it is not a requirement currently.
We have already implemented `pyright` in our pre-commit hooks [here](https://github.com/openai/gym/blob/master/pyproject.toml) however as you can see a majority of the folders are excluded from the check as

[2022-06-29 09:16] RedTachyon commented on #2934
Gym 0.21 is outdated, the current version is 0.24.1

[2022-06-29 16:32] Balssh commented on #2934
Yeah I know, but stable-baselines3 doesn't work with 0.24.1, should I just find a replacement to it?

[2022-06-29 16:51] amissafari opened #2935 "I am having "reset() got an unexpected keyword argument 'seed'" Error"
Hi everyone,
when I try to run simple example code:

import gym
env = gym.make("LunarLander-v2")
env.action_space.seed(42)

observation, info = env.reset(seed=42, return_info=True)

for _ in range(1000):
    observation, reward, done, info = env.step(env.action_space.sample())
    env.render()

    if done:
        observation, info = env.reset(return_info=True)

env.close()

I will receive the fo

[2022-06-29 17:26] vadim0x60 opened #2936 "[Proposal] Integrate pyvirtualdisplay"
### Proposal

If a pygame-based openai gym environment is run on a server without a screen, it should automatically provision a virtual display with a library like `pyvirtualdisplay`.

### Motivation

Calling `env.render` on many environments (in particular, [pygame](pygame.org)-based environments) requires a screen, even if it is called with `mode='rgb_array'` parameter to save an image to disk o

[2022-06-29 18:33] bschnurr commented on #2918
confirmed. when using a newer version of gym with py.typed file we dont use our stubs.

also it appears we are inferring the type of metadata as 'dict[str,list]'
![image](https://user-images.githubusercontent.com/1946977/176510375-704d89f0-e515-4b9c-92a7-ad56c7346b6d.png)

[2022-06-30 00:20] user670 opened #2937 "[Question] Is `gym.spaces.Dict.seed` supposed to be that slow?"
I'm trying out [MineDojo](https://github.com/MineDojo/MineDojo), a library that itself imports `gym`.

When I tried to follow the guide, Python seemingly hangs while taking up 8GB of RAM. I slapped a bunch of `print` statements all over MineDojo and Gym's code, and found out it was this function call being very slow: https://github.com/openai/gym/blob/7f6effbc0de59f2b001ef27937ad06dbd9d125e4/gym/s

[2022-06-30 00:25] RedTachyon commented on #2935
When you go to create a bug report as a github issue, there's a form that gets automatically created for you to fill. This form is not for decoration, please provide the information requested there, notably system information (installation method, platform,  python version, **gym version**)

[2022-06-30 00:38] pseudo-rnd-thoughts commented on #2937
Could you provide some basic code to replicate your high ram usage and slow function calls.
But I'm a bit surprised at your code suggestion.
Looking at the documentation for ['iinfo'](https://numpy.org/doc/stable/reference/generated/numpy.iinfo.html) then the max value of a python integer should be returned. Therefore the large integer you have link so I don't think it should be related to that bu

[2022-06-30 00:47] RedTachyon commented on #2937
So one disclaimer is that gym 0.21.0 is outdated, and in particular the whole `np_random` thing has been significantly reworked since.

That being said, I can see this still being an issue, this piece of code is... weird and needs some attention.

That being said once again, I can't seem to replicate it at the moment. How large of a sample are you using?

And a final note is that in my experience,

[2022-06-30 14:04] epignatelli commented on #2876
What is the status of the issue?
Did anyone `git bisect` this?

The breaking change affects also environments outside this repository.

[2022-06-30 14:23] Odalric-Ambrym opened #2940 "Action space with mixed action types"
Hello,

I want to describe the following action space, with 4 actions: 1 continuous 1d, 1 continuous 2d, 1 discrete, 1 parametric.
action1: Box(0.,2.)
action2: Tuple(Box(-4.,3.),Box(0,.5.))
action3: Discrete(5)
action4: Dict({'p1': Dict(3), 'p2': Box(-1.,1.)})
What is the most appropriate way to build this as a gym space?
What is the most appropriate way to build its powerset as a gym space?

Simp

[2022-06-30 14:38] epignatelli commented on #2876
Thanks for the heads up @RedTachyon.

[2022-06-30 14:46] pseudo-rnd-thoughts commented on #2940
Could you explain how you cannot use `Dict` or `Tuple` spaces?
These spaces would easily allow you to "glue them" together?

Could you provide an example of the expected output and the actual output with using `Dict` or `Tuple` or your example

[2022-06-30 17:58] user670 commented on #2937
SOLVED: with gym 0.24, it no longer does that.

[2022-06-30 17:58] #2937 closed

[2022-07-01 00:57] pseudo-rnd-thoughts commented on #2918
@bschnurr Currently there is a weird bug occurring with these type stubs, I can move the discussion to the pyright repo if that is more helpful.
Im currently making the core API follow the pyright strict requirements
However `from gym.logger import warn, deprecation` fails on `deprecation` as even though `logger` contains the `deprecation` it is not included in the type stubs.
I discovered this af

[2022-07-01 06:26] tonystark262 opened #2944 "[Bug Report] not able to import gym"
If you are submitting a bug report, please fill in the following details and use the tag [bug].

**Describe the bug**
Receiving type error when importing gym library.

**Code example**
`import gym`

**Stack Trace**
`

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ubuntu/anaconda3/envs/rl/lib/python3.7/site-packages/gym/__init__.py", line 15, in <module>

[2022-07-01 07:08] imnotkind commented on #2944
I have a same problem too.. also py3.7

[2022-07-01 09:59] younik commented on #2936
I did quick tests, and `SDL_VIDEODRIVER = dummy` seems to work properly. However, I would not add this to the gym since it is specific to PyGame.

Your solutions overcome this issue, but it doesn't come for free: you need to install `xvfb` manually (and it doesn't work for Windows).

Both solutions seems fairly simple, but case-specific; thus I will let the user do that. What do you think @vadim0x

[2022-07-01 10:15] pseudo-rnd-thoughts commented on #2944
Using a fresh install of python 3.7.13 using conda and gym v0.24.1, Im unable to replicate your issue which is strange

[2022-07-01 10:21] RedTachyon commented on #2944
I can't replicate this either on python 3.7.13 + gym 0.24.1 + ubuntu 20.04, I think it's very likely there's something wrong with your installation.

[2022-07-01 10:22] gianlucadecola commented on #2944
Working also for me with ubuntu 18.04 and python3.7.13

[2022-07-03 09:40] Markus28 commented on #2936
Hey @vadim0x60, could you check whether the issue persists on the master branch? There was a bug where a window was opened during rgb_array rendering and this was fixed recently. It was my understanding that this bug caused problems on headless systems. rgb_array rendering works for me over ssh on the master branch (it doesn't work with the latest release though)

[2022-07-05 07:20] KexianShen opened #2947 "[Bug Report] not using Atari env but throw out dependency error"
**Describe the bug**
Codes recently added in gym/wrappers/atari_preprocessing.py throw out a dependency error like how they are written. The problem is that I am not going to use any Atari env. I am in doubt whether the dependency check here is necessary.
[code]

[2022-07-05 07:44] pseudo-rnd-thoughts commented on #2947
Thanks for that, but why are you using the atari preprocessing for non atari environments?

[2022-07-05 07:49] KexianShen commented on #2947
I just import gym, and the error shows up.

[2022-07-05 07:52] KexianShen commented on #2947
I guess you have cv2 module in your python env, so it pass.

[2022-07-05 09:27] pseudo-rnd-thoughts commented on #2947
Thanks, you are right.

[2022-07-05 09:27] RedTachyon commented on #2947
Yea, that's gonna cause errors, thanks for the catch.

What will happen is that gym will do a bunch of internal imports, so if you just `import gym`, it will import `wrappers`, and `wrappers` will try to import from that specific wrapper, so the exception will pop up.

[2022-07-05 18:39] tonystark262 commented on #2944
fresh install worked!

[2022-07-05 23:16] rukiAtLife opened #2950 "Is this normal?"
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/gym/utils/passive_env_checker.py:97: UserWarning: WARN: We recommend you to use a symmetric and normalized Box action space (range=[-1, 1]) https://stable-baselines3.readthedocs.io/en/master/guide/rl_tips.html
  logger.warn(

[2022-07-06 00:50] balisujohn commented on #2950
Yeah, the env checker is telling you it's ideal for your environment to have an action space where actions are allowed in the range [-1,1]. Presumably, whatever environment you are using doesn't. You can check in the code wherever your environment is defined to see what the action space is. stable-baselines3 algorithms will still (sort of) work when the action space is non symmetric and normalized

[2022-07-06 07:38] BlGene opened #2951 "[Bug Report] passive_env_step_check fails for dictionary observatoin spaces"
The  `passive_env_step_check` fails the `isinf` check for dictionary observations. This error occurs here:

https://github.com/openai/gym/blob/a5afdb3f7a976e86c88ca7368bf57f0a1f496f76/gym/utils/passive_env_checker.py#L275

The error that I get is the following:
[code]
It is easy to generate this error in simple test cases
[code]

What we would probably want to do is to include the inf and NaN chec

[2022-07-06 09:38] seawee1 opened #2952 "[Proposal] Add __setattr__ to Wrapper baseclass"
### Proposal

Currently, I am working with Tianshou which offers an env.set_env_attr(name, value) function. However, when I don't disable all default gym wrappers (OrderEnforcing and PassivEnvChecker as of now), the setattr call issued by Tianshou onto the wrapped environment does not arrive at the actual environment object. Instead, the setattr is processed by the Wrapper object and, as a result,

[2022-07-06 10:19] RedTachyon commented on #2952
The canonical way of doing this is `env.unwrapped.(whatever)`, which will always bring you to the raw environment. What's the problem with using that?

Overriding `__setattr__` in a wrapper would make it impossible to, well, set attributes of the wrapper itself.

[2022-07-06 13:14] #2823 closed

[2022-07-06 13:15] #2828 closed

[2022-07-06 13:16] jkterry1 commented on #2840
Hey, I think the issue here has been resolved so I'm going to close this, please let me know if something changes.

[2022-07-06 13:16] jkterry1 commented on #2852
Hey, I believe the issue here is resolved so I'm going to close this, please let me know if you have anything else

[2022-07-06 13:16] jkterry1 commented on #2863
Hey, I'm going to close this due to lack of activity

[2022-07-06 13:16] #2863 closed

[2022-07-06 13:17] jkterry1 commented on #2876
Closing in favor of #2903

[2022-07-06 13:17] #2876 closed

[2022-07-06 13:17] jkterry1 commented on #2883
Hey, I'm going to close this due to inactivity, please let us know if you need additional hlep

[2022-07-06 13:17] #2883 closed

[2022-07-06 13:18] jkterry1 commented on #2892
Closing in favor of #2903

[2022-07-06 13:19] #2895 closed

[2022-07-06 13:20] jkterry1 commented on #2916
Closing in favor of #2903

[2022-07-06 13:20] jkterry1 commented on #2918
Hey, I'm going to close this as the issue has been resolved with the new type hinting additions in master, please let us know if you need any additional help

[2022-07-06 13:29] jkterry1 commented on #2924
Hey, I'm closing this issue as it's fixed on master

[2022-07-06 13:29] #2924 closed

[2022-07-06 13:29] jkterry1 commented on #2932
Hey, I'm closing this as the fix is in master

[2022-07-06 13:29] #2932 closed

[2022-07-06 13:30] jkterry1 commented on #2934
You can use the PR to SB3 that supports newer versions of Gym, or you can use a different learning library that supports newer versions of Gym (I like cleanrl)

[2022-07-06 13:30] #2934 closed, assigned to nobody

[2022-07-06 13:30] jkterry1 commented on #2935
Hey, I'm going to close this due to inactivity, please let us know if you have any additional issues

[2022-07-06 13:30] #2935 closed

[2022-07-06 13:31] pseudo-rnd-thoughts commented on #2914
This issue appears to be due to SB3 not Gym, would you be able to report this issue with him. Im unsure what we can do to help

[2022-07-06 13:31] #2914 closed

[2022-07-06 13:31] #2950 closed

[2022-07-06 13:33] pseudo-rnd-thoughts commented on #2951
@BlGene Yes, you are correct. Therefore, we are closing the issue.

[2022-07-06 22:39] RedTachyon opened #2954 "[Proposal] Functional API"
### Proposal

This is a fairly loose proposal for a feature that imo could be very useful, but it doesn't have to be done anytime soon.

Currently, gym uses a rather messy stateful OOP approach, which - to be fair - is sometimes necessary (e.g. for Atari or Unity).

The current model is extremely object-oriented - the state is maintained within the `gym.Env`, and every time we take a step, it is u

[2022-07-06 23:40] balisujohn commented on #2954
This is kind similar to how the current Jax BlackJack draft is set up, where the jit_step and jit_reset can be used in a purely functional manner, but the standard api step and reset functions set the env state using the results of calls to jit_step and jit_reset. Maybe we could have a secondary functional api where possible (though for example not possible with physical environments)?

[2022-07-06 23:47] balisujohn commented on #2954
mv thinking is that jit_reset and jit_step should be public functions offered as part of the "Jittable environment" API alongside conventional step and reset.

[2022-07-07 09:09] seawee1 commented on #2952
Ah okay, that makes sense. Then this is probably something that might have to be adapted on Tianshou's side. Thanks!

[2022-07-07 09:09] #2952 closed

[2022-07-07 12:04] RedTachyon commented on #2954
Yea, that's the ballpark of what I'm thinking. I would keep it more general than just making it for jax jitting, but it would definitely be one of the possibilities. Then we could rewrite the jax blackjack to be primarily written in the functional API (so users can use the full environment in a jitted context), and then we'd expose an object-oriented API with a simple converter

[2022-07-07 12:09] pseudo-rnd-thoughts commented on #2954
In the next day or so, Im planning on release a PR with a jax environment specification that follows your functional API closely. The primary difference is that I don't expose the environment state to the user but there is the public `step` / `reset` function that follows the `Env` version and the hidden jittible environment `step` / `reset` functions. There will be a new Jax based vectorise class

[2022-07-07 12:18] RedTachyon commented on #2954
@pseudo-rnd-thoughts I'm not sure I understand. If it doesn't expose the state, then it's still very different from what I'm proposing. As I understand, the actual `step` that the user would call is not jittable, and instead it calls a jittable function within it, yes? So it's still the same object API which happens to be powered by a functional environment. I propose having a functional API for t

[2022-07-07 12:22] RedTachyon commented on #2954
This actually makes me even think that it might be worthwhile to add a consistent behind-the-scenes functional API for the upcoming new envs, and potentially only in the future we would make it more public/applicable to other envs.

[2022-07-07 13:24] pseudo-rnd-thoughts commented on #2954
Agreed, I would propose all new gym environments should follow it. While it is possible to achieve similar vectorisation performance with Envpool, it is significantly more complex to do

[2022-07-09 21:48] lucaslehnert opened #2956 "TypeError when observations are dictionaries"
A TypeError is raised when defining an environment with dictionary observations.

[code]

The following script reproduces this.

[code]

**System Info**
Describe the characteristic of your environment:
 * Gym was installed by cloning the current git repo.
 * Windows 10 with WSL 2.0 and Ubuntu 20.04 VM.
 * Python version: 3.9

### Checklist

- [x] I have checked that there is no similar [issue](htt

[2022-07-10 11:45] Shivam310 commented on #2914
Hi,
Thanks for the response, I have dropped the question on the sb3 github issues page.
Thanks for the suggestion!

[2022-07-10 17:54] pseudo-rnd-thoughts commented on #2956
Thanks, this is being fixed in #2903 already

[2022-07-12 18:08] miyukin73 opened #2961 "[Question] Questions about "gym.make()""
Hello,

I'd like to display my own xml file (attached "mug.xml" in "mug-xml_obj.zip") in MuJoCo using "gym.make".

However, I am not sure how to change it, so I asked this question.

I apologize if this is not the appropriate place to ask this question.

Thank you in advance.
[mug-xml_obj.zip](https://github.com/openai/gym/files/9095679/mug-xml_obj.zip)

[2022-07-13 11:05] pseudo-rnd-thoughts commented on #2961
While this is possible to do it is a sequence step process
1. You need to create an environment like the current mujoco environments, [example](https://github.com/openai/gym/blob/master/gym/envs/mujoco/ant_v4.py)
2. You need to register the environment, [example](https://github.com/openai/gym/blob/634afec9bc948cc9c2633827fe7af9e67497035e/gym/envs/__init__.py#L293)
3. Then you can call `gym.make` w

[2022-07-13 14:31] RaghuSpaceRajan commented on #2947
I feel like the `opencv-python>=3.0` dependency needs to move from [`other`](https://github.com/openai/gym/blob/aeda7eb3581985628963a184123a19487f38da5c/setup.py#L23) to `atari` and the error message above needs to change. I believe `lz4` and `matplotlib` listed in `other` are not needed for Atari. Should we change this?

[2022-07-13 19:21] vadim0x60 commented on #2936
Indeed, this looks fixed. The issue occurs in version 0.24.1, but goes away in aeda7eb3581985628963a184123a19487f38da5c

[2022-07-13 19:21] #2936 closed

[2022-07-14 13:17] GF-Huang opened #2966 "[Question] Where is the 0.21 docs?"
Because I'm using stable-baseline3 which depends gym==0.21, but the [official docs](https://www.gymlibrary.ml/) seems not meet the 0.21 old API.

[2022-07-15 09:24] jamartinh commented on #2279
Think on the auto-reset way for envpool. It looks like having more sense.

[https://envpool.readthedocs.io/en/latest/content/python_interface.html#auto-reset](https://envpool.readthedocs.io/en/latest/content/python_interface.html#auto-reset)

EnvPool enables auto-reset by default. Let’s suppose an environment that has a max_episode_steps = 3. When we call env.step(action) five consecutive times, t

[2022-07-15 13:37] ernestoalarcongallo commented on #1684
Hi to everyone, I am in the same point, right now, any steps forward @adiyaDalat ?
:D

[2022-07-15 14:01] pseudo-rnd-thoughts commented on #1684
Hi, could you be more precise in what your issue is and what your settings is etc

[2022-07-16 00:57] FinAminToastCrunch commented on #2881
@Markus28 unfortunately, your solution did not work for me. I still get an error when I try:
`from gym.utils.renderer import Renderer`

I get

`---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
Input In [119], in <cell line: 3>()
      1 import gym
      2 from gym import spaces
----> 3 from gym.u

[2022-07-16 01:01] FinAminToastCrunch opened #2969 "[Bug Report] "from gym.utils.renderer import Renderer" gives module not found error"
If you are submitting a bug report, please fill in the following details and use the tag [bug].

**Describe the bug**
"from gym.utils.renderer import Renderer" gives module not found error.

This is code from https://www.gymlibrary.ml/content/environment_creation/

**Code example**
`ModuleNotFoundError                       Traceback (most recent call last)
Input In [119], in <cell line: 3>()

[2022-07-16 07:03] Markus28 commented on #2881
Yes, Gym 0.25 was released a few days ago and we updated the examples/documentation accordingly. The new example code should work with Gym 0.25 but it's not backward compatible. Note that some significant API changes were introduced in Gym 0.25. You can check out an older commit from gym-examples if you really want to use an old Gym version.

[2022-07-16 09:07] jamartinh commented on #2279
Yes but Gym does not return the corresponding observation at the time it returns done=True, instead Gym returns an observation corresponding to a reset() and done=True.

That is inconsistent desing and should be avoided, which is what envpool does it correctly.

Check steps 4 and 5, there is a clear difference between what Gym is doing and what envpool is doing.
In Gym you have to overcome this by

[2022-07-16 09:12] pseudo-rnd-thoughts commented on #2969
The documentation currently only supports the latest gym version which is v0.25.0

[2022-07-16 09:19] pseudo-rnd-thoughts commented on #2279
Ok, so this is a proposal about how gym should implement the autoreset functionality in the vector env.
While I agree that this will be faster as there is only ever one function call, step or reset, this does result in having to compute the agent's action for an observation that is a termination observation.
But I believe that the tradeoff is worth it

[2022-07-16 09:45] jamartinh commented on #2279
MM, not sure on having to compute a new action when terminal, done or whatever signals True. I guess perhaps the "collector" or "rollout" part of the experimental code should be in charge of this.

Perhaps I  am missing something else?

[2022-07-16 21:20] ernestoalarcongallo commented on #1684
Hi, thank you @pseudo-rnd-thoughts, I'll try to explain the best I can. I am using openai gym for training a RL model. The way I trained was by passing a pandas dataframe by the Environment constructor parameter:
`env = CustomEnv(train_data, ...)`

Now, if I had to do the same in production, how is the correct way? I mean, the production data arrives each 10 minutes, should I have to tweek the Env

[2022-07-16 21:45] Bowen-He opened #2970 "The healthy condition for Mujoco Ant environment"
Hi,

In the function of is_healthy(self) in ant, there is this line of the code
is_healthy = np.isfinite(state).all() and min_z <= state[2] <= max_z
that I think is checking if the z-coordinate is in the range defined by self._healthy_z_range.
I noticed that you take the 2nd entry from the state vector and want to double-check if that's the correct thing to do. Since in the documentation it says t

[2022-07-17 00:29] vmoens opened #2972 "[Bug Report] Rendering broken in v0.25"
**Describe the bug**
Rendering is broken for simple envs (e.g. Pendulum-v1)

**Code example**
[code]

Error stack:
[code]

**System Info**
Describe the characteristic of your environment:
 * Describe how Gym was installed (pip, docker, source, ...)
[code]
 * What OS/version of Linux you're using. Note that while we will accept PRs to improve Window's support, we do not officially support it.
OsX (

[2022-07-17 09:14] RedTachyon commented on #2970
I might be missing something, but in Python, arrays are 0-indexed, which means that `state[2]` is actually the third entry in that array. So if the array is `[x, y, z]`, then `state[2] == z`. Does that answer the question?

Another option I see is that you might be conflating observations and the internal state, they are very much not the same.

[2022-07-17 10:31] hh0rva1h commented on #2510
Could you please elaborate on this? I've been asking myself the question how to reproduce the Atari setting as done by Deepmind in their publications and I've got the impression, that the `<Game>NoFrameskip-v4` together with the following wrappers should be pretty similar (Deepmind does not use interpolation=cv2.INTER_AREA, but INTER_LINEAR for downscaling the image to 84x84, but I guess that will

[2022-07-17 11:30] hh0rva1h commented on #2510
@jkterry1 After looking at the source, I get the impression, that is rather hard to reproduce the setup with the `v5` version due to https://github.com/mgbellemare/Arcade-Learning-Environment/issues/464 since I'm not sure the internal frameskipping of the environment does pooling as done by the frameskip implementation in the AtariPreprocessing wrapper. So I would rather do frameksipping in the wr

[2022-07-17 16:01] rodrigodelazcano commented on #2970
Thank you for answering this @RedTachyon . I think this comment bellow might also help:

The state array of the `is_healthy` method is a full observation generated by the base method `state_vector` https://github.com/openai/gym/blob/98a929303f0596ea20c9568ebab81f703a08a41c/gym/envs/mujoco/mujoco_env.py#L215

This method is independent of `exclude_current_positions_from_observation` meaning that th

[2022-07-17 17:27] Bowen-He commented on #2970
Thanks! That really helps solve my question.

[2022-07-17 17:27] #2970 closed

[2022-07-18 15:30] #2972 closed

[2022-07-20 10:05] pseudo-rnd-thoughts commented on #1684
Hi @ernestoalarcongallo, sorry I forgot to reply.
I have never used Gym in a production environment so I have no idea if it will definitely work.
But your plan for implementing it sounds right but you might have to test around with it to find what works best.
The idea on creating a custom environment is correct

[2022-07-21 09:00] muk465 opened #2982 "Creating a SE3 state space in open ai gym environment where x,y,z signify an image of size 256*256*256,and a1,a2,a3,a4 signify quaternions i.e a rotation matrix"
### Question
I want to create an environment which has a curvilinear motion specified by a model ,for that i need each state to have 7 values i.e x,y,z and 4 quaternions which signify rot matrix as the motion will be curvilinear which follows a model ,so my question is how can i define such an observation space in environment?

[2022-07-21 09:12] pseudo-rnd-thoughts commented on #2982
Interesting question, gym offers a range of spaces to use https://www.gymlibrary.ml/content/spaces/
I would recommending the `Box` space with a shape of `(19,)` or a `Tuple([Box(), Box(), Box(), Box()])` with the Box containing their respective limits and shapes for the `x, y, z` and quaternions.
One option you could have is create a new `Quaternion` shape that inherits from `Box` if there are cer

[2022-07-21 09:38] muk465 commented on #2982
@pseudo-rnd-thoughts Thank you for answering my question so i have 2 doubts instead of using a tuple can i use
1)Box(low=np.array([0,0,0,-inf,-inf,-inf,-inf]), high=np.array([255,255,255,inf,inf,inf,inf]), dtype=np.float32)
2)now as state is an observation from the environment to which we add actions to generate new state
can i access these individual state parameters like for eg state[3:7] should

[2022-07-21 12:24] muk465 commented on #2982
Thanks @pseudo-rnd-thoughts  sir

[2022-07-22 03:49] EdwardTheLegend opened #2986 "[Bug Report] env.render() raises NameError: name 'glPushMatrix' is not defined"
**Describe the bug**
A clear and concise description of what the bug is.
when env.render() is called it raises NameError: name 'glPushMatrix' is not defined

**Code example**
Please try to provide a minimal example to reproduce the bug. Error messages and stack traces are also helpful.
[code]

[code]

**System Info**
Describe the characteristic of your environment:
 *  installed in a pipenv enviro

[2022-07-22 04:28] balisujohn commented on #2986
What's your gym version?

[2022-07-22 04:52] EdwardTheLegend commented on #2986
It shows version 0.21.0 which I am now realizing is not the latest version

[2022-07-22 06:32] balisujohn commented on #2986
No worries; glad you found the issue

[2022-07-22 13:09] heng2j commented on #2823
Hi @pseudo-rnd-thoughts,  we are working on a path planning problem on 2D maps where our agent samples cartesian coordinates from the continuous action space. Each 2D map clearly defines feasible and infeasible regions for the agent to navigate. (Imagine the game map of StarCraft). We are looking for ways to mask the continuous action space where our agent can only sample cartesian coordinates fro

[2022-07-22 17:48] pseudo-rnd-thoughts commented on #2823
HI @heng2j, thanks for the comment. The problem is that is difficult to know how to specify the sample area for a Box environment in a clear way that will be generic enough. In addition, for RL algorithms, it is not possible to apply a mask to the output. These are the main reasons, we have not implemented the sample for Box
I would be possible for you to implement this with a MultiDiscrete action

[2022-07-24 02:21] Iamfxz commented on #2912
I'm using graph space, but I can't use env to represent it. Because the shape is none. So I can only try to convert it to an adjacency matrix, or embed it into a fixed size space.

[2022-07-24 04:04] jjshoots commented on #2912
@Iamfxz the Graph space is represented by two components, a node space and an edges space. In general, the edges space can take a Box/Discrete space or None, this is something you'll have to define yourself.

We don't generate automatically an adjacency matrix for several reasons, the most obvious of which are that edges can be directed or non-directed, and that the memory footprint of not startin

[2022-07-24 07:05] Iamfxz commented on #2912
@jjshoots I have tried definition. According to my understanding, node_space and edge_space refers to the attributes of node and edge. And then I'm going to convert the graph(NetworkX instance) that I've calculated into GraphInstance. Finally, when I planned to train the model, I found that this was a space for dynamic change. Maybe I need to define all nodes and all possible edges in order to pas

[2022-07-24 12:30] tudorjnu opened #2989 "Rendering a single frame and 'human' with MuJoCo"
Hello,

I have a problem with the new renderer when combined with MuJoCo.

I am creating a new environment that uses an image-based observation which works well with `render_mode="single_rgb_array"`. However, I would like to be able to visualise the model with MuJoCo's interactive renderer which currently doesn't seem possible.

Any current workarounds or ideas on how this can be accomplished? Tha

[2022-07-24 13:08] jjshoots commented on #2912
Ah, yes, the node and edge spaces accept dynamic sizes for the number of nodes and edges. The reason is that a graph with fixed number of nodes and a fixed sizes adjacency matrix can just be represented as a Box/Discrete, and then the only trick there is how forward pass is performed.

[2022-07-24 15:13] pseudo-rnd-thoughts commented on #2989
Would you be able to provide an example script to test with?
An example that doesn't work and an example of what you would like to run

[2022-07-25 02:24] ryanrudes opened #2992 "[Proposal] Adding a Distribution space"
### Proposal

A clear and concise description of the proposal.

### Motivation

Gym is severely lacking numerous `Space` types that are commonly seen in RL, though I'm going to address just one here to keep things simple. imagine a person wanting to implement a high-level baseline model that should be compatible with a wide range of environments; the user has to specify information regarding the m

[2022-07-25 02:43] balisujohn commented on #2992
Would this be for sampling from your action space, so you can have a more structured distribution for action space sampling? And the idea is that for each environment, recommended params for a (diagonal) multivariate normal action space sample distribution is provided?

[2022-07-25 09:48] pseudo-rnd-thoughts commented on #2992
Personally, I'm not in favour of this change.
My understanding of the Gym spaces is to provide bounds on all of the observations/actions for an environment, we are agnostic to the agents.
Therefore, as this PR is mainly scoped on space for agents to sample with rather than an environment I dislike this space.

This PR would make sense in Stable-Baseline-3 to help users.
Alternatively, this PR coul

[2022-07-25 10:14] tudorjnu commented on #2989
No problem!

Let's take `Humanoid-v4` as an example. A basic gym loop would be the following:
[code]

Now, let's assume that in the scene, there is a camera in the scene that should give the observation space for the agent. A problem will raise from this as I cannot get the single RGB array from the scene while still being able to watch the scene through MuJoCo's renderer.

A partial solution is t

[2022-07-25 10:18] RedTachyon commented on #2992
I'm moderately strongly against this. We have to be aware of what the purpose of a `Space` is and what are its limits.

It is **not** necessarily a full description of the observation space, in the sense that every `obs` which fulfills `space.contains(obs)` is actually in the mathematical set of valid observations. Instead, all we can expect is a surjection from observations into the `Space`, that

[2022-07-25 18:05] nollied opened #2994 "[Bug Report] deepcopying an environment results in no randomness"
**Describe the bug**
my use case involves running multiple environments at the same time, and after every step some of them get copied/replaced between each other. i'm using deepcopy.

when i do this deepcopying, the random numbers that the environment generates become the same as all of the other environments, this is expected behavior. however, what's not expected is that, if all of the environm

[2022-07-25 18:52] nollied commented on #2994
also weirdly enough, if you initialize only 1 environment and then deepcopy it to create your initial envs list, the seeds **do** seem different when you reset the environment for the first time. it only happens gradually as the environments are copied amungst each other during steps.

maybe it has to do with the reset function?

[2022-07-25 19:06] alphazwest opened #2995 "[Bug Report] Minor Issue with Error Message Directing to HTTPS version of non-HTTPS Roboti.us website"
**Describe the bug**
When running e.g. `pip install gym[all]` or another similar command such that `mujoco-py` is installed, on error the following message is displayed:
[code]
This suggests visiting the roboti.us website, using HTTPS protocol. However, the website is no longer secured via HTTPS and most modern browsers indicate an error to the user similar to "the website can't provide a secure c

[2022-07-25 19:09] pseudo-rnd-thoughts commented on #2994
Im not sure that I understand exactly what you are doing, a minimal testing script would be helpful.

In the meantime, I will briefly explain how randomness in gym is done.
For each environment (and wrapper), it contains a `np_random` variable which allows access to a numpy random number generator.
The seed for `np_random` is unknown until the first call, at which it is set.
This means that if you

[2022-07-25 19:39] nollied commented on #2994
@pseudo-rnd-thoughts i just slapped together a testing script for you to reproduce:

[code]

[2022-07-25 20:16] pseudo-rnd-thoughts commented on #2994
As the action spaces have their own unique source of randomness from the environment randomness you need to run
`env.action_space.seed()`

[2022-07-25 20:24] nollied commented on #2994
@pseudo-rnd-thoughts hah. nice, lol thanks that works.

[2022-07-25 20:28] #2994 closed

[2022-07-25 20:32] nollied opened #2996 "[Proposal] please don't remove `env.seed`!"
### Proposal

when calling `env.seed` in v0.25.0 i receive a deprecation notice: `DeprecationWarning: WARN: Function `env.seed(seed)` is marked as deprecated and will be removed in the future. Please use `env.reset(seed=seed)` instead.`

Please don't remove this function as it is important to be able to set seeds without resetting the environment for solutions that rely on distributed tree searchi

[2022-07-25 22:09] balisujohn commented on #2996
I'm personally fine with retaining env.seed, especially if there is explicit user demand for keeping it, but I'm curious to hear what others think, since it has long been set for deprecation. Interestingly, planned functional envs will solve this problem even without env.seed because functional step takes an prng state as a param, so you can mutate the same state into multiple next states by passi

[2022-07-25 22:51] pseudo-rnd-thoughts commented on #2996
@nollied I understand what you mean but that seems like a very niche issue
Without `seed` you can change the seed through `env.np_random=rng` to a particular seed (in v24+) or `env.unwrapped.np_random=rng`

[2022-07-25 23:32] nollied commented on #2996
@pseudo-rnd-thoughts i wouldn't say it's niche, it's important for many variations of tree searching algorithms like MCTS at scale while remaining general. most planning algorithm implementations don't use openai gym, presumably because you need to build your own get_state and set_state methods for efficient state hopping (see [plangym](https://github.com/FragileTech/plangym))

[2022-07-25 23:33] nollied commented on #2996
@balisujohn interesting, i haven't heard of a functional envs. could you share resources so i can read up on this?

[2022-07-26 01:44] balisujohn commented on #2996
This PR might be of interest: https://github.com/openai/gym/pull/2958 This is not stable for the time being, so anything related to functional envs is subject to change.

[2022-07-26 09:46] RedTachyon commented on #2996
That seems to be the crux of the matter for me - gym is already somewhat ill-suited for this purpose, so even if we bring back `env.seed` (which in turn causes problems for some other envs), it still won't be useful for planning algorithms. So I'd lean towards keeping the deprecation, since this way, the envs which already work well with gym, will work even better. And the envs which will get new

[2022-07-26 09:49] RedTachyon commented on #2995
I'm not sure if this is an issue on our side? Mujoco envs have a weird status, because there's one set of envs with the old bindings from https://github.com/openai/mujoco-py, and another set with the updated, open-source DeepMind mujoco.

We don't really have control over either of those. Does the error originate from this repo, or from openai/mujoco-py?

[2022-07-26 10:38] younik commented on #2989
@tudorjnu If I understood correctly, you want to use `human` mode and `single_rgb_array` simultaneously.
We deprecated this possibility since changing the mode on-the-fly causes problems with other environments.

For your case, I suggest to initialize the env with `single_rgb_array` and then using this Wrapper https://github.com/openai/gym/blob/master/gym/wrappers/human_rendering.py

In this way,

[2022-07-26 11:03] stefanbschneider commented on #428
How do I ensure reproducibility of a space's `sample()`? I don't even have an env, I'm just sampling from a space. Even if I set `random.seed()` and `np.random.seed()` the samples are not reproducible.

[2022-07-26 11:06] stefanbschneider commented on #428
Ok, I found it: I can pass a `seed=` argument when constructing the space.

The space itself also has a `seed()` function: https://github.com/openai/gym/blob/master/gym/spaces/space.py#L98

[2022-07-26 11:07] stefanbschneider commented on #681
This means that any space can be seeded independent of an environment. Spaces optionally also take a seed during construction.

[2022-07-26 20:05] nollied commented on #2996
@RedTachyon what about `env.seed` breaks certain other environments? also wouldn't you expect the same opposite breakage to occur by removing the `env.seed` methods?

i write a lot of planning algorithms and personally i love using gym for them, it's such a nice interface and i hope that more emergent research on these topics will baseline/build environments in gym.

[2022-07-26 20:35] RedTachyon commented on #2996
I believe the main issue was with Atari, where the RNG mechanism is sitting somewhere internally, and cannot just be modified in the middle of an episode. The only way to seed the env is right before/after resetting it. Essentially, if we say that environments should expose the `env.seed` method, then we know some of the popular envs won't be able to properly support it, and that's not good.

I th

[2022-07-26 21:23] jkterry1 commented on #2881
Hey, I beleive this is fixed, but please let us know if it isn't

[2022-07-26 21:23] #2881 closed

[2022-07-26 21:25] jkterry1 commented on #2912
In general, I've been highly opposed to adding environments to Gym for things like this in the past. Couldn't this be just created by someone and then linked as a third party environment?

[2022-07-26 21:25] jkterry1 commented on #2940
Hey, I'm going to close this due to inactivity, please let me know if you need anything else

[2022-07-26 21:25] #2940 closed

[2022-07-26 21:26] #2961 closed

[2022-07-26 21:26] #2966 closed

[2022-07-26 21:26] #2969 closed

[2022-07-26 21:26] #2982 closed

[2022-07-26 21:35] balisujohn commented on #2996
Why not have seed defined in core.py and throw a not-implemented error, unless implemented by the subclassing environment. Then atari envs and envs which similarly have unfriendly pseudorandom won't silently fail, but people can keep using env.seed if they want.

[2022-07-26 22:04] RedTachyon commented on #2996
That would defeat the point a little bit. The main feature of gym is the standard API, so in particular, I know that I can do
[code]

and whatever the env is, this will work and be reproducible. The moment core features like this become optional, things start falling apart.

Also notice that in principle, people can use `env.seed` for their specific envs if they so choose - they just might need to

[2022-07-26 22:06] RedTachyon commented on #2912
I agree with the sentiment, but I'm concerned about adding too many spaces which aren't actually used anywhere else in the library.

[2022-07-26 22:16] nollied commented on #2996
@RedTachyon there does seem to be a lot of interesting benefits from a functional environment style especially relevant to checkpointing and such. although, i can see environments being implemented in such a way where the benefits are nullified. namely, creating a stateful object that is passed around in the exact same way as OOP's `self` param as opposed to using a factorized "only pass what you

[2022-07-26 22:27] nollied commented on #2996
an alternative to keeping the `env.seed` function handy would be to add a couple methods to the interface which [plangym](https://github.com/FragileTech/plangym) exposes: `env.get_state` and `env.set_state`. but this suffers from the same issue you point out @RedTachyon regarding unimplemented methods causing downstream errors which disregard the principles of a unified API.

[2022-07-26 22:30] RedTachyon commented on #2996
@nollied to have a point of reference, if the functional API becomes stable/public (as an alternative to the main OOP API), would that work for your purposes with the planning algorithms? The state is passed around explicitly, so `get_state` and `set_state` are available for free.

[2022-07-26 22:33] andrewzhang505 commented on #2995
I've also encountered this error. The issue seems to be that this error message appears even if you are using the new DeepMind mujoco as long as `mujoco-py` is installed. Installing only the DeepMind dependencies using `pip install gym[mujoco]` works fine but `pip install gym[mujoco, mujoco-py]` does not.

This bug seems to only be present in gym version 0.25.0 and not 0.24.1. Since gym does no lo

[2022-07-26 23:22] pseudo-rnd-thoughts commented on #2995
@RedTachyon The warning is outside of gym (at least I looked in all of the normal places and searching didn't find anything)
@andrewzhang505 The warning is part of `mujoco-py` so only when you install `mujoco-py` will a warning be raised.

[2022-07-27 00:11] #2995 closed

[2022-07-27 00:41] nollied commented on #2996
@RedTachyon i don't see it really changing much for environments with internal RNG, even if all environments supported the functional API.

this issue probably isn't solve-able with any API mods, likely it has to be addressed on a case to case basis.

as an argument in principle, wouldn't you say it's inconsistent to deprecate env.seed in favor of env.reset(seed=...)? it would suffer the same prob

[2022-07-27 07:45] jjshoots commented on #2912
@RedTachyon graph spaces are actually pretty useful imo and it's only a matter of time before the community gets warmer to them imho. My lab is already using them for early experiments.